<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
  <% @questback_groups.each do |questback_group| %>
    <tr>
      <td><%= link_to questback_group.name, questback_group %></td>
      <td><%= questback_group.description %></td>
      <td><%= questback_group.panelists.size %>&nbsp;/&nbsp;<%= questback_group.questback_group_users.size %></td>
  <%end%>
  </tbody>
</table>

