<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

	    <li>
			<%= link_to "Admin", admin_index_path %>
		</li>

		<% if active == :questback_groups %><li class="active"><% else %><li><% end %>
			<%= link_to "QBGroups", questback_groups_path %>
		</li>

		<% if active == :questback_group %>
			<% if active == :questback_group %><li class="active"><% else %><li><% end %>
				<%= link_to "QBGroup", questback_group_path %>
			</li>
		<% end %>

	</ul>
</div>