<%= render "tabs", :active => :questback_groups %>

<br>

    <%= link_to "Reload", reload_questback_groups_path,
                remote: true,
                class: "btn btn-default",
                id: "reload-button",
                style: "display:#{@reload_in_progress ? 'none' : 'inline-block'};" %>
    <p id="reloading-text" <%= @reload_in_progress ? "" : "hidden"%> >Reloading QuestBack Groups...</p>
    <p><%= @reload_in_progress ? @reload_status : "" %></p>

<br>

    <%= render  partial: 'layouts/search_autocomplete_form',
                locals: { search_url_path: questback_groups_path,
                          search_key: 'id',
                          search_label: 'QuestbackGroup',
                          search_autocomplete_url: autocomplete_questback_group_name_questback_groups_path } %>

                          <br>

<div class="list-group" id="questbackGroupTable">
  <%= render partial: 'table' %>
  <%= will_paginate @questback_groups %>
</div>

