<%= render "tabs", :active => :questback_group %>

<h1>Questback Group</h1>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Name
		</div>
		<div class="list-group-item-text">
			<%= @questback_group.name %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Description
		</div>
		<div class="list-group-item-text">
			<%= @questback_group.description %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback Group ID
		</div>
		<div class="list-group-item-text">
			<%= @questback_group.group_id %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Size
		</div>
		<div class="list-group-item-text">
			<%= pluralize @questback_group.questback_group_users.size, "Questback User" %><br/>
			<%= pluralize @questback_group.panelists.size, "Surveybods User" %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Panelists
		</div>
		<div class="list-group-item-text">
			<table class="table">
				<thead>
					<tr>
						<th>QuestbackID</th>
						<th>SurveyBodsUser</th>
					</tr>
				</thead>
				<tbody>
				<% @questback_group.panelists.each do |panelist| %>
					<tr>
						<td><%= panelist.uid %></td>
						<td><%= link_to panelist.email, panelist %></td>
				<%end%>
				</tbody>
			</table>
		</div>
	</div>


</div>
