<%= form_for @geofence_collection, html: { multipart: true } do |form| %>

  <%= render "layouts/crud_error", :errorable => @geofence_collection %>


      <div class="list-group-item-heading text-muted">
        <%= form.label :name %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :name, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :description %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :description, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <label>File to Upload</label>
        <%= link_to 'Export Template', export_template_geofence_uploads_path, class: 'btn btn-info btn-sm' %>
      </div>
      <div class='list-group-item-text'>
        <%= form.file_field :file %>
      </div>

      <br>

      <%= form.submit :class => "btn btn-default" %>

<% end %>


