<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Radius</th>
		</tr>
	</thead>
	<tbody>
		<% geofences.each do |geofence| %>
			<tr>
				<td><%= geofence_link(geofence: geofence) %></td>
				<td><%= geofence.latitude %></td>
				<td><%= geofence.longitude %></td>
				<td><%= geofence.radius %></td>
			</tr>
		<% end %>
	</tbody>
</table>
