<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%= active.eql?(:geofence_collections) ? 'active' : ''%>"><%= link_to "Geofence Collections", geofence_collections_path %></li>

    <% if geofence_collections_or_new(active: active) %>
      <li class="<%= active == :new ? 'active' : '' %>"><%= link_to "New", new_geofence_collection_path %></li>
    <% end %>

    <% if active == :geofence_collection || active == :edit %>
      <% if active == :geofence_collection %><li class="active"><% else %><li><% end %>
        <%= link_to "Geofence Collections", geofence_collection_path %>
      </li>
    <% end %>

    <% if active == :geofence_collection %>
      <li>
        <%= link_to "New Geofence", new_geofence_path(geofence_collection_id: @geofence_collection.id) %>
      </li>
    <% end %>

    <%- if active == :upload %>
      <li class="<%= active == :upload ? 'active' : '' %>"><%= link_to "Upload CSV file", "#" %></li>
    <%- end %>

  </ul>
</div>

