	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Count</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @geofence_collections.each do |geofence_collection| %>
				<tr>
          <td><%= link_to geofence_collection.name, geofence_collection %></td>
          <td><%= geofence_collection.geofence_uploads.count %></td>
					<td>
            <p><%= link_to "Add New Geofence Data", new_geofence_upload_path(geofence_collection_id: geofence_collection.id), class: "btn btn-info actions" %></p>
						<p><%= link_to "Upload Geofences CSV", upload_geofence_collections_path(geofence_collection_id: geofence_collection.id), :class => "btn btn-default actions" %></p>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

