<%= render "tabs", :active => :geofence_collections %>

<br>

    <%= form_tag(geofence_collections_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Collections", class: 'form-control', style: 'width:300px; display: inline-block' %>
    <%= submit_tag "Search", :name => nil, class: 'form-control', style: 'width:90px; display: inline-block' %>
<% end %>

<br/>
<%= render 'table' %>

