<%= render "tabs", :active => :geofence_collection %>

<h1>Geofence Collection</h1>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Name
		</div>
		<div class="list-group-item-text">
			<%= @geofence_collection.name %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Description
		</div>
		<div class="list-group-item-text">
			<%= @geofence_collection.description %>
		</div>
  </div>

  <div class="list-group-item">

		<div class="list-group-item-heading text-muted">
			Geofences
		</div>
    <%= render "geofences_table", geofences: @geofence_collection.geofence_uploads %>
	</div>

</div>
