<%= render "tabs", :active => :upload %>

<div class="list-group">
	<div class="list-group-item">
    <p>This form will let you import a csv file to mass create temporary geofence data under a geofence collection to be used for multiple geofence groups.</p>
    <p><strong>NOTE: Please use .csv files only</strong></p>
	</div>
</div>

<%= form_tag import_geofence_collections_path, multipart: true do %>
  <div class='list-group'>
    <div class='list-group-item'>
      <div class="list-group-item-heading text-muted">
        <label>Geofence Collection</label>
      </div>
      <div class="list-group-item-text">
        <%= select_tag :geofence_collection_id, options_from_collection_for_select(@geofence_collections, :id, :name, params[:geofence_collection_id]), class: 'form-control' %>
      </div>
    </div>

    <div class='list-group-item'>
      <div class="list-group-item-heading text-muted">
        <label>File to Upload</label>
      </div>
      <div class='list-group-item-text'>
        <%= file_field_tag :file, class: 'form-control' %>
      </div>
    </div>

    <div class='list-group-item'>
      <%= submit_tag "Import", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>


