<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%= active == :usage_study_users ? 'active' : '' %>">
      <%= link_to "Usage Study Users", usage_study_users_path %>
    </li>
    <% if params[:id].present? %>
      <li class="<%= active == :usage_study_user ? 'active' : '' %>">
        <%= link_to "UsageStudyUser", access_logs_usage_study_user_path(id: params[:id]) %>
      </li>
    <% end %>
  </ul>
</div>

