<b>Filter Status:</b>
<div id="content">
    <ul id="tabs" class="nav nav-tabs filter-tab" data-tabs="tabs">
      <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        <li><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#inactive" data-toggle="tab">Inactive</a></li>
    </ul>

    <br>

    <div id="my-tab-content" class="tab-content">

    <div class="tab-pane active" id="all">
  <div class="scrollable">
  <table class='table table-condensed'>
    <thead>
      <th>IP Client</th>
      <th>Username</th>
      <th>Active</th>
      <th>Panelist Email</th>
      <th>VPN Study</th>
    </thead>
    <tbody>
      <% @usage_study_users.each do |user| %>
        <tr>
          <td><%= user.ip_client %></td>
          <td><%= user.username %></td>
          <td><%= user.active %></td>
          <td><%= user.panelist %></td>
          <td><%= user.vpn_study %></td>
          <%- if user.usage_study_access_logs.any? %>
            <td><%= link_to "Show Access Log", access_logs_usage_study_user_path(user), class: 'btn btn-success' %></td>
          <%- end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @usage_study_users %>
</div>
        </div>

        <div class="tab-pane" id="active">
          <div class="scrollable">
  <table class='table table-condensed'>
    <thead>
      <th>IP Client</th>
      <th>Username</th>
      <th>Active</th>
      <th>Panelist Email</th>
      <th>VPN Study</th>
    </thead>
    <tbody>
      <% @usage_active.each do |user| %>
        <tr>
          <td><%= user.ip_client %></td>
          <td><%= user.username %></td>
          <td><%= user.active %></td>
          <td><%= user.panelist %></td>
          <td><%= user.vpn_study %></td>
          <%- if user.usage_study_access_logs.any? %>
            <td><%= link_to "Show Access Log", access_logs_usage_study_user_path(user), class: 'btn btn-success' %></td>
          <%- end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

        <div class="tab-pane" id="inactive">
<div class="scrollable">
  <table class='table table-condensed'>
    <thead>
      <th>IP Client</th>
      <th>Username</th>
      <th>Active</th>
      <th>Panelist Email</th>
      <th>VPN Study</th>
    </thead>
    <tbody>
      <% @usage_inactive.each do |user| %>
        <tr>
          <td><%= user.ip_client %></td>
          <td><%= user.username %></td>
          <td><%= user.active %></td>
          <td><%= user.panelist %></td>
          <td><%= user.vpn_study %></td>
          <%- if user.usage_study_access_logs.any? %>
            <td><%= link_to "Show Access Log", access_logs_usage_study_user_path(user), class: 'btn btn-success' %></td>
          <%- end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->


