<%= render "usage_study_users/tabs", :active => :usage_study_user %>

<div class="list-group">
  <div class="list-group-item">
    <%= link_to 'Export User Access Logs', export_usage_study_access_logs_path(user_id: params[:id]), class: 'btn btn-info' %>
  </div>
</div>

<%= render partial: 'usage_study_access_logs/table', locals: { usage_study_access_logs: @usage_study_access_logs } %>

<%= will_paginate @usage_study_access_logs %>
