<%= render "tabs", :active => :usage_study_users %>

<br>

    <%= link_to 'Export Usage Study Users', export_usage_study_users_path, class: 'btn btn-info' %>

<br><br>

<div class="list-group">
  <%= render partial: 'table' %>
</div>

