<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

	    <li>
			<%= link_to "Admin", admin_index_path %>
		</li>

		<% if active == :samples %><li class="active"><% else %><li><% end %>
			<%= link_to "Samples", samples_path %>
		</li>

		<% if active == :sample %>
			<li class="active">
				<%= link_to "Sample", sample_path %>
			</li>
		<% end %>

	</ul>
</div>