<%= render "tabs", :active => :samples %>

<br>

		<%= link_to "Reload All Samples", reload_samples_path, :remote => true, :class => "btn btn-default", :id => "reload-button", :style => "display:#{@reload_in_progress ? 'none' : 'inline-block'};" %>
		<%= link_to "Reload Active Samples", reload_samples_path(active: true), :remote => true, :class => "btn btn-info", :id => "reload-active-button", :style => "display:#{@reload_in_progress ? 'none' : 'inline-block'};" %>
		<p id="reloading-text" <%= @reload_in_progress ? "" : "hidden"%>>Reloading QuestBack Samples...</p>
		<p><%= @reload_in_progress ? @reload_status : "" %></p>

		<br>

		<%= form_tag(samples_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Samples" %>
    <%= submit_tag "Search", :title => nil %>
<% end %>


<br>

		<table class="table">
			<thead>
				<tr>
					<th>SampleID</th>
					<th>SurveyID</th>
					<th>Title</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<% @samples.each do |sample| %>
					<tr>
						<td><%= link_to sample.sample_id, sample %></td>
						<td><%= sample.survey != nil ? link_to(sample.survey.survey_id, sample.survey) : "Needs Surveys Refresh" %></td>
						<td><%= sample.title %></td>
						<td><%= sample.description %></td>
					</tr>
				<% end %>
			</tbody>
		</table>


<%= will_paginate @samples %>
