<%= render "tabs", :active => :sample %>

<h1>Sample</h1>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Sample ID
		</div>
		<div class="list-group-item-text">
			<%= @sample.sample_id %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Survey ID
		</div>
		<div class="list-group-item-text">
			<%= @sample.survey != nil ? link_to(@sample.survey.survey_id, @sample.survey) : "Needs Surveys Refresh" %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Title
		</div>
		<div class="list-group-item-text">
			<%= @sample.title %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Description
		</div>
		<div class="list-group-item-text">
			<%= @sample.description %>
		</div>
  </div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Panelists
		</div>
    <div class="list-group-item-text">
      <% if @sample.panelists.any? %>
        <% @sample.panelists.each do |sample_panelist| %>
          <ul>
            <li><%= link_to sample_panelist.email, panelist_path(sample_panelist) %></li>
          </ul>
        <% end %>
      <% else %>
        No panelist listed.
      <% end %>
		</div>
  </div>

</div>
