<%= form_for @geofence_upload do |form| %>

	<%= render "layouts/crud_error", :errorable => @geofence_upload %>

	<div class="list-group">

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :name %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :name, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :latitude %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :latitude, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :longitude %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :longitude, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :radius %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :radius, :class => "form-control" %>
			</div>
		</div>

    <div class='list-group-item'>
      <div class="list-group-item-heading text-muted">
        <label>Geofence Collection</label>
      </div>
      <div class="list-group-item-text">
        <%= form.select :geofence_collection_id, options_from_collection_for_select(@geofence_collections, :id, :name, params[:geofence_collection_id]), class: 'form-control' %>
      </div>
    </div>

		<div class="list-group-item">
			<%= form.submit :class => "btn btn-default" %>
		</div>

	</div>

<% end %>

