<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%=  active.eql?(:log_exports) ? 'active' : '' %>">
      <%= link_to "Log Exports", log_exports_path %>
    </li>

    <li class="<%= active.eql?(:geofence_log_exports) ? 'active' : '' %>">
      <%= link_to "GeofenceLogExports", geofence_log_exports_path %>
    </li>
  </ul>
</div>

