<table class='table table-condensed'>
  <thead>
    <th>User</th>
    <th>Filename</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @geofence_log_exports.each do |geofence_log_export| %>
      <tr>
        <td><%= geofence_log_export.user %></td>
        <td><%= geofence_log_export.file_csv.original_filename %></td>
        <td>
          <%= link_to_fa_icon('download', 'Download File', download_geofence_log_export_path(geofence_log_export), 'primary')%>
          <%= link_to_fa_icon('trash', 'Delete', geofence_log_export_path(geofence_log_export), 'danger',
                              { method: :delete, data: { confirm: "Are you sure you want to delete this export?" } }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

