<%= render "tabs", :active => :geofence_log_exports %>

<br>

<%- if @geofence_log_exports.any? || @export_in_progress %>
      <%= link_to "Delete All Exports", geofence_log_export_path(id: 'all'), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete all exports?" } %>
      <p id="exporting-text" <%= @export_in_progress ? "" : "hidden" %> >Exporting Geofence Log...</p>
      <p><%= @export_in_progress ? @export_status : "" %></p>
<%- end %>

<br>

<%- if @geofence_log_exports.any? %>
  <div class="list-group">
    <%= render 'table' %>
    <%= will_paginate @geofence_log_exports %>
  </div>
<%- end %>
