<%= form_for @faq do |form| %>

	<%= render "layouts/crud_error", :errorable => @faq %>

<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :question %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :question, :class => "form-control" %>
			</div>
<br>
			<div class="list-group-item-heading text-muted">
				<%= form.label :answer %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_area :answer, :class => "form-control" %>
			</div>

		<br>

			<%= form.submit :class => "btn btn-default" %>


<% end %>
