<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

	    <li>
			<%= link_to "Admin", admin_index_path %>
		</li>

		<% if active == :faqs %><li class="active"><% else %><li><% end %>
			<%= link_to "FAQs", faqs_path %>
		</li>

		<% if active == :faqs || active == :new %>
			<% if active == :new %><li class="active"><% else %><li><% end %>
				<%= link_to "New", new_faq_path %>
			</li>
		<% end %>

		<% if active == :faq || active == :edit %>
			<% if active == :faq %><li class="active"><% else %><li><% end %>
				<%= link_to "FAQ", faq_path(@faq) %>
			</li>

			<% if active == :edit %><li class="active"><% else %><li><% end %>
				<%= link_to "Edit", edit_faq_path %>
			</li>
		<% end %>

	</ul>
</div>