<%= render "tabs", :active => :faqs %>

<br>

<div class="list-group">

	<% @faqs.each do |faq| %>
		<div class="list-group-item">
			<%= link_to faq.question, faq %>
			<span class="pull-right">
				<%= link_to "Edit", edit_faq_path(faq) %> |
				<%= link_to "Delete", faq_path(faq), method: :delete %>
			</span>

		</div>
		
	<% end %>

</div>

