<%= render "tabs", :active => :faq %>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Question
		</div>
		<div class="list-group-item-text">
			<%= @faq.question %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Answer
		</div>
		<div class="list-group-item-text">
			<%= simple_format @faq.answer %>
		</div>
	</div>

</div>
