<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%=  active.eql?(:vpn_managements) ? 'active' : '' %>">
      <%= link_to "VPN Managements", vpn_managements_path %>
    </li>

  </ul>
</div>

