<%= form_for :filter, url: geofence_groups_path, method: :get, remote: true do |form| %>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      <label>Filter Status</label>
    </div>
    <div class="list-group-item-text">
      <%= form.radio_button :status, 'active', onclick: 'geofenceGroupSubmitForm(this);' %> Show Active
      <%= form.radio_button :status, 'inactive', onclick: 'geofenceGroupSubmitForm(this);' %> Show Inactive
      <%= form.radio_button :status, 'all', onclick: 'geofenceGroupSubmitForm(this);', checked: true %> Show Both
    </div>
  </div>

<%- end %>
