<%= form_for @geofence_group do |form| %>

  <%= render "layouts/crud_error", :errorable => @geofence_group %>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :name %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :name, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :description %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :description, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :questback_group_id %>
      </div>
      <div class="list-group-item-text">
        <%= render  partial: 'layouts/autocomplete_field.html.erb',
                    locals: { field_value: @geofence_group.questback_group,
                              autocomplete_url: autocomplete_questback_group_name_questback_groups_path } %>
        <%= form.text_field :questback_group_id, id: 'autocomplete_select', :class => "form-control" %>
      </div>

      <br>


      <div class="list-group-item-heading text-muted">
        <%= form.label :message %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :message, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :action %>
      </div>
      <div class="list-group-item-text">
        <%= form.select :action, geofence_group_actions_collection, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :survey_title %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :survey_title, :class => "form-control" %>
      </div>

      <br>

<div class="row">
<div class="col-sm-6">
      <div class="list-group-item-heading text-muted">
        <%= form.label :survey_id %>
      </div>
      <div class="list-group-item-text">
        <%= form.select :survey_id, survey_collection, include_blank: true, class: "form-control" %>
      </div>
</div>
<div class="col-sm-6">
      <div class="list-group-item-heading text-muted">
        <%= form.label :quick_poll_id %>
      </div>
      <div class="list-group-item-text">
        <%= form.select :quick_poll_id, available_quick_polls, include_blank: true, class: "form-control" %>
      </div>
</div>
</div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :geofence_type %>
      </div>
      <div class="list-group-item-text">
        <%= form.select :geofence_type, GeofenceGroup.geofence_types.map {|t| [t[0], t[0]] }, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :geofence_collection_id %>
      </div>
      <div class="list-group-item-text">
        <%= form.select :geofence_collection_id, GeofenceCollection.all.map { |t| [t.name, t.id] if t.geofence_uploads.any? }.compact, include_blank: true, :class => "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label "Dwell Time (seconds)" %>
      </div>
      <div class="list-group-item-text">
        <%= form.number_field :dwell_time, :class => "form-control" %>
      </div>

      <br>

    <!-- <div class="list-group-item">
      <div class="list-group-item-heading text-muted">
        <%#= form.label :trigger_type %>
      </div>
      <div class="list-group-item-text">
        <%#= form.select :trigger_type, geofence_group_trigger_types, class: "form-control" %>
        <br/><br/>
        <p><strong>Single</strong> - once a user activates a survey they will not receive any further surveys for geo fences in this group</p>
        <p><strong>Multiple</strong> - a user can activate every survey in a geo fence group only once, revisiting the same fence twice will not trigger another survey</p>
        <p><strong>Unrestricted</strong> - a user will receive a survey every time they break a fence in this group</p>
      </div>
    </div> -->


      <%= form.submit :class => "btn btn-default" %>
      <%= button_tag "Reset Map", :type => 'button', :class => "btn btn-default", :id => "reset-map" %>


<% end %>

