<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

		<% if active == :geofence_groups %><li class="active"><% else %><li><% end %>
			<%= link_to "Geofence Groups", geofence_groups_path %>
		</li>

		<% if active == :geofence_groups || active == :new || active == :upload %>
			<% if active == :new %><li class="active"><% else %><li><% end %>
				<%= link_to "New", new_geofence_group_path %>
      </li>
		<% end %>

		<% if active == :geofence_group || active == :edit || active == :map %>
			<% if active == :geofence_group %><li class="active"><% else %><li><% end %>
				<%= link_to "Geofence Group", geofence_group_path %>
			</li>
			<% if active == :geofence_group || active == :edit %>
				<% if active == :edit %><li class="active"><% else %><li><% end %>
					<%= link_to "Edit", edit_geofence_group_path %>
        </li>
			<% end %>
      <li class="<%= active == :map ? 'active' : ''%>"><%= link_to "Map", map_geofence_group_path %></li>
		<% end %>

	</ul>
</div>
