<b>Filter Status:</b>
<div id="content">
    <ul id="tabs" class="nav nav-tabs filter-tab" data-tabs="tabs">
      <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        <li><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#inactive" data-toggle="tab">Inactive</a></li>
    </ul>

    <br>

    <div id="my-tab-content" class="tab-content">

    <div class="tab-pane active" id="all">
<table class="table">
  <thead>
    <th>Name</th>
    <th>Number of Geofences</th>
    <th></th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @geofence_groups.each do |geofence_group| %>
    <tr id="geofenceGroup<%= geofence_group.id %>">
      <td><%= link_to "#{geofence_group.name}", geofence_group %></td>
      <td><%= geofence_group.geofences.size %></td>
      <td><%= link_to_update_status(geofence_group, @filter_status) %></td>
      <td><%= geofence_group.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

    <div class="tab-pane active" id="active">
<table class="table">
  <thead>
    <th>Name</th>
    <th>Number of Geofences</th>
    <th></th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @geofence_group_active.each do |geofence_group| %>
    <tr id="geofenceGroup<%= geofence_group.id %>">
      <td><%= link_to "#{geofence_group.name}", geofence_group %></td>
      <td><%= geofence_group.geofences.size %></td>
      <td><%= link_to_update_status(geofence_group, @filter_status) %></td>
      <td><%= geofence_group.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

    <div class="tab-pane active" id="inactive">
<table class="table">
  <thead>
    <th>Name</th>
    <th>Number of Geofences</th>
    <th></th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @geofence_group_inactive.each do |geofence_group| %>
    <tr id="geofenceGroup<%= geofence_group.id %>">
      <td><%= link_to "#{geofence_group.name}", geofence_group %></td>
      <td><%= geofence_group.geofences.size %></td>
      <td><%= link_to_update_status(geofence_group, @filter_status) %></td>
      <td><%= geofence_group.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
