<td><%= link_to "#{geofence_group.name}", geofence_group %></td>
<td><%= geofence_group.geofences.size %></td>
<td><%= link_to_update_status(geofence_group, filter_status) %></td>
<td><%= geofence_group.status %></td>
