<%= render "tabs", :active => :geofence_groups %>

<br>

		<p>This button will send a message to all devices, notifying them to reload their Geofence data from the server</p>
	<%= link_to "Reload Geofences for Apps", reload_apps_geofence_groups_path, :remote => true, :class => "btn btn-default", :id => "reload-button", :style => "display:#{@reload_in_progress ? 'none' : 'inline-block'};" %>
    <p id="reloading-text" <%= @reload_in_progress ? "" : "hidden"%> >Reloading App Geofences...</p>
    <%= link_to "Export to CSV", export_geofence_groups_path, class: 'btn btn-info'%>


    <%= form_tag(geofence_groups_path, :method => "get", style: 'float:right') do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Geofence Groups", class: 'form-control', style: 'width:300px; display: inline-block;' %>
    <%= submit_tag "Search", :name => nil, class: 'form-control', style: 'width:90px; display: inline-block' %>
<% end %>

  <br><br>

<div class="list-group", id="geofenceGroupTable">
  <%= render partial: 'table' %>
</div>

