<%= render "tabs", :active => :geofence_group %>

<h1>GeofenceGroup</h1>

<div class="list-group">

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Name
    </div>
    <div class="list-group-item-text">
      <%= @geofence_group.name %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Description
    </div>
    <div class="list-group-item-text">
      <%= @geofence_group.description %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Questback Group
    </div>
    <div class="list-group-item-text">
      <%= link_to @geofence_group.questback_group.name, @geofence_group.questback_group %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Type
    </div>
    <div class="list-group-item-text">
      <%= @geofence_group.geofence_type %>
    </div>
  </div>

  <% if @geofence_group.geofence_type == "dwell" %>
    <div class="list-group-item">
      <div class="list-group-item-heading text-muted">
        Dwell Time
      </div>
      <div class="list-group-item-text">
        <%= pluralize @geofence_group.dwell_time, "seconds" %>
      </div>
    </div>
  <% end %>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Message
    </div>
    <div class="list-group-item-text">
      <%= @geofence_group.message %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Action
    </div>
    <div class="list-group-item-text">
      <%= geofence_group_action %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Survey Title
    </div>
    <div class="list-group-item-text">
      <%= @geofence_group.survey_title %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Status
    </div>
    <div class="list-group-item-text">
      <%= geofence_group_status %>
    </div>
  </div>

  <!-- <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Trigger Type
    </div>
    <div class="list-group-item-text">
      <%#= rename_trigger_type(@geofence_group.trigger_type) %>
    </div>
  </div> -->

  <div class="list-group-item">

    <div class="list-group-item-heading text-muted">
      Geofences
    </div>

    <%= render 'geofence_collections/geofences_table', geofences: @geofence_group.geofences %>

  </div>


</div>
