// Replace the tr for the specific geofence_group
if ("<%= @filter_status %>" == 'all') {
  $("#geofenceGroup<%= @geofence_group.id %>").html("<%= escape_javascript(render partial: 'table_td', locals: { geofence_group: @geofence_group, filter_status: @filter_status }) %>");
} else {
  $("#geofenceGroup<%= @geofence_group.id %>").fadeOut('slow');
}
