<table class='table table-condensed'>
  <thead>
    <th>IP Range</th>
    <th>Comment</th>
    <th>Created</th>
    <th>Active</th>
    <th>Netmask</th>
  </thead>
  <tbody>
    <% @vpn_routes.each do |vpn_route| %>
      <tr>
        <td><%= vpn_route.ip_range %></td>
        <td><%= vpn_route.comment %></td>
        <td><%= vpn_route.created %></td>
        <td><%= vpn_route.active %></td>
        <td><%= vpn_route.netmask %></td>
      </tr>
    <% end %>
  </tbody>
</table>

