<br>

<%= form_for @router_management do |f| %>
  <%= render "layouts/crud_error", :errorable => @router_management %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :initial_ip_address, 'Initial IP Address' %>
        <%= f.text_field :initial_ip_address, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :bit_mask, 'Initial Net Mask' %>
        <%= f.select :bit_mask, netmask_collection, { include_blank: true }, onchange: "calculateIpAddressValue(this); return false;", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :ip_address_range %>
        <%= f.text_field :ip_address_range, class: "form-control", readonly: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :net_mask, "Net Mask" %>
        <%= f.text_field :net_mask, class: "form-control", readonly: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :status %><br/>
        <%= f.select :status, RouterManagement.statuses.map{ |t| [t[0].to_s.titleize, t[0]] }, {}, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>

<%- end %>

