<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

    <li class="<%=  active.eql?(:router_managements) ? 'active' : '' %>">
      <%= link_to "Router Management", router_managements_path %>
    </li>

    <li class="<%= active.eql?(:new) ? 'active' : '' %>">
      <%= link_to "New", new_router_management_path %>
    </li>

    <%- if active.eql?(:router_management) || active.eql?(:edit) %>
      <li class="<%= active.eql?(:edit) ? 'active' : '' %>">
        <%= link_to "Edit", edit_router_management_path %>
      </li>
    <%- end %>

  </ul>
</div>

