<br>

<table class='table'>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>IP Address Range</th>
    <th>Netmask</th>
    <th>Created Date</th>
    <th>Active</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @router_managements.each do |router_management| %>
      <tr>
        <td><%= router_management.name %></td>
        <td><%= router_management.description %></td>
        <td><%= router_management.ip_address_range %></td>
        <td><%= router_management.net_mask %></td>
        <td><%= router_management.updated_at %></td>
        <td><%= router_management.status.to_s.titleize %></td>
        <td>
          <%= link_to 'Edit', edit_router_management_path(router_management), class: 'btn btn-default'%>
          <%= link_to "Sync", sync_router_managements_path(id: router_management.id), method: :post, class: 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

