<%= render 'tabs', active: :router_managements %>

<br>

<%- if @router_managements.any? %>
      <p>Sync All button will update all the changes made to all routes.</p>
      <p>Disconnect button will update all panelist using the updated routes.</p>
      <%= link_to "Sync All", sync_router_managements_path(id: 'all'), method: :post, class: "btn btn-info" %>
      <%= link_to "Disconnect", disconnect_router_managements_path(username: 'all'), method: :post, class: "btn btn-warning" %>

  <div class="list-group">
    <%= render 'table' %>
    <%= will_paginate @router_managements %>
  </div>
<%- end %>

