<%= form_for @vpn_study, multi_part: true do |form| %>

  <%= render "layouts/crud_error", :errorable => @vpn_study %>

  <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :name %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :description %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :questback_group_id %>
      </div>
      <div class="list-group-item-text">
        <%= render  partial: 'layouts/autocomplete_field',
                    locals: { field_value: @vpn_study.questback_group,
                              autocomplete_url: autocomplete_questback_group_name_questback_groups_path } %>
      </div>

      <br>

<div class="row">
<div class="col-sm-6">
      <div class="list-group-item-heading text-muted">
        <%= form.label :last_start_time %>
      </div>
      <div class="list-group-item-text">
        <%= form.datetime_select :last_start_time, default: Time.zone.now, class: "form-control" %>
      </div>
</div>
<div class="col-sm-6">
      <div class="list-group-item-heading text-muted">
        <%= form.label :end_time %>
      </div>
      <div class="list-group-item-text">
        <%= form.datetime_select :end_time, class: "form-control" %>
      </div>
</div>
</div>

<br>

<div class="row">
<div class="col-sm-6">
      <div class="list-group-item-heading text-muted">
        <%= form.label :bonus_points %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :bonus_points, class: "form-control" %>
      </div>
</div>

<div class="col-sm-6">
      <div class="list-group-item-heading text-muted">
        <%= form.label :tickets %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :tickets, class: "form-control" %>
      </div>
</div>
</div>

<br>

    <%= form.fields_for :bart_setting, existing_or_build_bart_setting do |bart_setting| %>
      <%= render partial: 'bart_settings/form', locals: { f: bart_setting } %>
    <%- end %>

    <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :active %>
      </div>
      <div class="list-group-item-text">
        <%= form.check_box :active %>
      </div>
  
<br>

      <%= form.submit class: "btn btn-default" %>


<% end %>
