<table class="table table-condensed vpn_study_panelist" id="vpnStudyPanelistStats">
  <thead>
    <th>Email</th>
    <th>Last Log Entry</th>
  </thead>
  <tbody>
    <% @vpn_study_activity.each do |vpn_activity| %>
      <tr class="<%= last_log_status(vpn_activity) %>" id="vpnStudyCredential_<%= vpn_activity['id'] %>">
        <td><%= vpn_activity["email"] %></td>
        <td id="<%= "vpnStudyCredentialLastLogEntry_#{vpn_activity['id']}" %>"><%= vpn_activity["last_logtime"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
