<table class="table table-condensed" id="vpnStudyStats">
  <thead>
    <th>Users in Group</th>
    <th>Installed Panelists</th>
    <th>Active in the Past Hour</th>
    <th>Disconnected</th>
  </thead>
  <tbody>
    <tr>
      <td><%= vpn_study.panelists.count %></td>
      <td><%= vpn_study.vpn_study_credentials.count %></td>
      <td><%= vpn_study.active_users(number_of_hours: 1, activity_log: @vpn_study_activity) %></td>
      <td><%= vpn_study.disconnected_users(number_of_hours: 12, activity_log: @vpn_study_activity) %></td>
    </tr>
  </tbody>
</table>
