<b>Filter Status:</b>
<div id="content">
    <ul id="tabs" class="nav nav-tabs filter-tab" data-tabs="tabs">
      <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        <li><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#inactive" data-toggle="tab">Inactive</a></li>
    </ul>

  <br>

  <div id="my-tab-content" class="tab-content">

  <div class="tab-pane active" id="all">
  <% if @vpn_studies.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>QuestbackGroup</th>
      <th>Last Start Time</th>
      <th>End Time</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_studies.each do |vpn_study| %>
        <tr>
          <td><%= link_to vpn_study.name, vpn_study_path(vpn_study) %></td>
          <td><%= link_to vpn_study.questback_group, questback_group_path(vpn_study.questback_group_id) %></td>
          <td><%= vpn_study.last_start_time %></td>
          <td><%= vpn_study.end_time %></td>
          <td><%= vpn_study.active ? 'Yes' : 'No' %></td>
          <td>
            <p>
              <%= link_to "Edit", edit_vpn_study_path(vpn_study), class: "btn btn-sm btn-info actions" %><br>
            </p>
            <p>
            <%= link_to 'Send Push Notification', send_notifications_vpn_study_path(vpn_study), class: 'btn btn-sm btn-success actions' %>
            </p>
            <%= link_to 'End Study', deactivate_vpn_study_path(vpn_study), class: 'btn btn-sm btn-danger actions', data: { confirm: "#{ending_study_alert_message(vpn_study)}" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>
</div>

<div class="tab-pane" id="active">
<% if @vpn_studies.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>QuestbackGroup</th>
      <th>Last Start Time</th>
      <th>End Time</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_study_active.each do |vpn_study| %>
        <tr>
          <td><%= link_to vpn_study.name, vpn_study_path(vpn_study) %></td>
          <td><%= link_to vpn_study.questback_group, questback_group_path(vpn_study.questback_group_id) %></td>
          <td><%= vpn_study.last_start_time %></td>
          <td><%= vpn_study.end_time %></td>
          <td><%= vpn_study.active ? 'Yes' : 'No' %></td>
          <td>
            <p>
              <%= link_to "Edit", edit_vpn_study_path(vpn_study), class: "btn btn-sm btn-info actions" %><br>
            </p>
            <p>
            <%= link_to 'Send Push Notification', send_notifications_vpn_study_path(vpn_study), class: 'btn btn-sm btn-success actions' %>
            </p>
            <%= link_to 'End Study', deactivate_vpn_study_path(vpn_study), class: 'btn btn-sm btn-danger actions', data: { confirm: "#{ending_study_alert_message(vpn_study)}" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>
</div>

<div class="tab-pane" id="inactive">
<% if @vpn_studies.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>QuestbackGroup</th>
      <th>Last Start Time</th>
      <th>End Time</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_study_inactive.each do |vpn_study| %>
        <tr>
          <td><%= link_to vpn_study.name, vpn_study_path(vpn_study) %></td>
          <td><%= link_to vpn_study.questback_group, questback_group_path(vpn_study.questback_group_id) %></td>
          <td><%= vpn_study.last_start_time %></td>
          <td><%= vpn_study.end_time %></td>
          <td><%= vpn_study.active ? 'Yes' : 'No' %></td>
          <td>
            <p>
              <%= link_to "Edit", edit_vpn_study_path(vpn_study), class: "btn btn-sm btn-info actions" %><br>
            </p>
            <p>
            <%= link_to 'Send Push Notification', send_notifications_vpn_study_path(vpn_study), class: 'btn btn-sm btn-success actions' %>
            </p>
            <%= link_to 'End Study', deactivate_vpn_study_path(vpn_study), class: 'btn btn-sm btn-danger actions', data: { confirm: "#{ending_study_alert_message(vpn_study)}" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>
</div>

