<%= render "tabs", :active => :vpn_studies %>

<br>

    <%= form_tag(vpn_studies_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search VPN Studies", class: 'form-control', style: 'width:300px; display: inline-block' %>
    <%= submit_tag "Search", :name => nil, class: 'form-control', style: 'width:90px; display: inline-block' %>
<% end %>

<br/>

<div class="list-group" id="vpnStudyTable">
  <%= render partial: "table" %>
</div>

