// Load Statistics Table
$("#vpnStudyStats").html("<%= escape_javascript(render partial: 'reload_data_stats_table', locals: { vpn_study: @vpn_study } ) %>").fadeIn(5000);
// Load Panelist Table
$("#vpnStudyPanelistStats").html("<%= escape_javascript(render partial: 'reload_data_panelist_table', locals: { vpn_study: @vpn_study } ) %>").fadeIn(5000);
