<%= render "tabs", :active => :vpn_study %>

<br/>
<div class="list-group">

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Name
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study.name %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      QuestbackGroup
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study.questback_group %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Last Start Time
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study.last_start_time %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      End Time
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study.end_time %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Bonus Points
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study.bonus_points %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Tickets
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study.tickets %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Active
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study.active %>
    </div>
  </div>

  <% if @vpn_study.panelists.any? %>
    <div class="list-group-item">
      <div class="list-group-item-heading text-muted data-loader">
        Panelist Monitor
        <%= link_to 'Reload Monitoring Stats', '#',  data: {path: reload_data_vpn_study_path(@vpn_study)}, class: 'btn btn-primary pull-right', id: 'reloadVpnStudyBtn' %>
      </div>
      <div class="list-group-item-text">
        <%= render 'stats_table' %>
        <%= render "panelist_table" %>
      </div>
    </div>
  <%- else %>
    No panelists.
  <%- end %>

</div>
