<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

		<li>
			<%= link_to "QBGroups", questback_groups_path %>
		</li>

		<li>
			<%= link_to "Samples", samples_path %>
		</li>


		<li>
			<%= link_to "FAQs", faqs_path %>
		</li>

		<li>
			<%= link_to "ProfileVariables", profile_variables_path %>
		</li>

		<li>
			<%= link_to "MasterData", master_data_descriptions_path %>
		</li>

		<li>
			<%= link_to "AdminUsers", users_path %>
		</li>

		<li>
			<%= link_to "Settings", settings_path %>
		</li>

	</ul>
</div>



		<h3>Admin Section</h3>


