<%= form_for 'geofence_log', url: export_geofence_logs_path do |form| %>
  <div class="list-group-item-text">
    <div class="row">
      <div class="col-md-12">
        <%= form.label :geofence_group %><br/>
        <%= form.select :geofence_group_id, geofence_group_collection, prompt: 'All GeofenceGroup' %>
      </div>

      <div class="col-md-2">
      <br>
        <%= form.label :action %><br/>
        <%= form.select :action, geofence_group_actions_collection, prompt: 'All Action' %>
      </div>
      <div class="col-md-6">
      <br>
        <%= form.label :geofence_type %><br/>
        <%= form.select :geofence_type, GeofenceGroup.geofence_types.map {|key, value| [key, value]}, prompt: 'All Geofence Type', class: "form-control" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :start_date %><br/>
          <%= date_select('start_date', '', prompt: { year: 'Year', month: 'Month', day: 'Day' }, class: "form-control") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :end_date %><br/>
          <%= date_select('end_date', '', prompt: { year: 'Year', month: 'Month', day: 'Day' }, class: "form-control") %>
        </div>
      </div>
    </div>
    <%- if params[:search] %>
      <div class="row">
        <div class="form-group">
          <%= hidden_field_tag :panelist_id, params[:search][:panelist_id] %>
        </div>
      </div>
    <%- end %>
    <div class="row">
      <div class="col-md-12">
        <%= form.submit 'Export Geofence Log', class: 'btn btn-info' %>
      </div>
    </div>
  </div>
<% end %>

