<table class='table table-condensed'>
  <thead>
    <th>Geofence</th>
    <th>Geofence Type</th>
    <th>Geofence Group</th>
    <th>Action</th>
    <th>Logged Time</th>
    <th>Device</th>
  </thead>
  <tbody>
    <% @geofence_logs.each do |geofence_log| %>
      <tr>
        <td>
          <%= geofence_log_info(geofence_log: geofence_log, type: 'geofence') %>
        </td>
        <td><%= geofence_log_info(geofence_log: geofence_log, type: 'geofence_type') %></td>
        <td><%= geofence_log_info(geofence_log: geofence_log, type: 'geofence_group') %></td>
        <td><%= geofence_log_info(geofence_log: geofence_log, type: 'action') %></td>
        <td><%= geofence_log_info(geofence_log: geofence_log, type: 'logged_time') %></td>
        <td><%= geofence_log_info(geofence_log: geofence_log, type: 'device') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
