<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

		<% if active == :geofence_logs %><li class="active"><% else %><li><% end %>
			<%= link_to "Geofence Logs", geofence_logs_path %>
    </li>
    <% if params[:panelist_id] %>
  		<% if active == :geofence_log %><li class="active"><% else %><li><% end %>
  			<%= link_to "PanelistGeofenceLogs", panelist_logs_geofence_logs_path(panelist_id: params[:panelist_id]) %>
      </li>
    <% end %>
  </ul>
</div>
