<table class='table table-condensed'>
  <thead>
    <th>Panelist</th>
    <th>Geofence</th>
    <th>GeofenceGroup</th>
    <th>Logged Time</th>
    <th>Device Type</th>
  </thead>
  <tbody>
    <% @geofence_logs.each do |geofence_log| %>
      <tr>
        <td><%= geofence_log.panelist.to_s %></td>
        <td><%= geofence_log.geofence %></td>
        <td><%= geofence_log.geofence_group  %></td>
        <td><%= geofence_log.formatted_epoch_time('logged_time') %></td>
        <td><%= geofence_log.formatted_device_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
