<%= render "tabs", :active => :geofence_logs %>

<br>

    <%= render partial: 'export_form', locals: { panelist_id: nil } %>

<hr>

    <%= render partial: 'layouts/search_drop_down_form',
      locals: {
                search_url_path: geofence_logs_path,
                search_select_collection: panelist_collection,
                search_select_value: 'panelist_id'
              }
    %>

    <br>

<div class="list-group">
  <%- if @geofence_logs.any? %>
    <%= render 'table' %>
    <%= @search_type ? (will_paginate(@geofence_logs, params: { search: { type: @search_type } })) : (will_paginate @geofence_logs) %>
  <%- else %>
    No GeofenceLog found.
  <%- end %>
</div>
