<%= render "tabs", :active => :geofence_log %>

<div class="list-group">
	<div class="list-group-item">
    <%= render partial: 'export_form', locals: { panelist_id: params[:panelist_id] } %>
	</div>
</div>

<div class="list-group">
  <%= render partial: 'panelist_logs_table' %>
  <%= will_paginate @geofence_logs %>
</div>
