<h3>VPN Page Monitoring Config</h3>
<div class="list-group">

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Frequency of Calls
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.frequency_of_calls %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Page URL
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.page_url %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Page Success Message
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.page_success_message %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Response Timeout Threshold (in milliseconds)
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.response_timeout_threshold %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Error Alert Count
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.error_alert_count %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Email Alert Addresses
    </div>
    <div class="list-group-item-text">
      <%= prettify_email_addresses(@vpn_page_monitoring.email_alert_addresses) %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Network Interface
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.network_interface %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      DNS Host
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.dns_host %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      DNS Port
    </div>
    <div class="list-group-item-text">
      <%= @vpn_page_monitoring.dns_port %>
    </div>
  </div>

</div>

