<%= form_for @vpn_page_monitoring do |form| %>

  <%= render "layouts/crud_error", :errorable => @vpn_page_monitoring %>

<br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :frequency_of_calls, 'Frequency of Calls (in milliseconds, default: 300000)' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :frequency_of_calls, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :page_url, "Page URL (#{vpn_speed_test_vpn_managements_url})" %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :page_url, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :page_success_message, 'Page Success Message' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :page_success_message, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :response_timeout_threshold, 'Response Timeout Threshold (in milliseconds, default: 800)' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :response_timeout_threshold, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :error_alert_count, 'Error Alert Count (default: 3)' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :error_alert_count, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :email_alert_addresses, 'Email Alert Addresses (must be comma separated.)' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :email_alert_addresses, placeholder: 'test@rb.com, test_2@rb.com', class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :network_interface, 'Network Interface (tun0)' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :network_interface, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :dns_host, 'DNS Host (100.100.100.10)' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :dns_host, class: "form-control" %>
      </div>

      <br>

      <div class="list-group-item-heading text-muted">
        <%= form.label :dns_port, 'DNS Port (3128)' %>
      </div>
      <div class="list-group-item-text">
        <%= form.text_field :dns_port, class: "form-control" %>
      </div>

      <br>

      <%= form.submit class: "btn btn-default" %>

<% end %>

