<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <% if (active == :vpn_page_monitorings && @vpn_page_monitoring.nil?) || active == :new %>
      <li class="<%=  active.eql?(:new) ? 'active' : '' %>">
        <%= link_to "New VPN Page Monitoring", new_vpn_page_monitoring_path %>
      </li>
    <% end %>

    <% if (active == :vpn_page_monitorings && @vpn_page_monitoring) || active == :edit %>
      <li class="<%=  active.eql?(:edit) ? 'active' : '' %>">
        <%= link_to "Edit", edit_vpn_page_monitoring_path(@vpn_page_monitoring) %>
      </li>
    <% end %>
  </ul>
</div>

