<%= form_for @geofence do |form| %>

	<%= render "layouts/crud_error", :errorable => @geofence %>

	<div class="list-group">

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :name %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :name, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :description %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :description, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :latitude %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :latitude, :class => "form-control", :step => "any" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :longitude %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :longitude, :class => "form-control", :step => "any" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label "Radius (in metres)" %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :radius, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label "Delay (in seconds)" %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :delay, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :geofence_group %>
			</div>
			<div class="list-group-item-text">
				<%= form.select :geofence_group_id, geofence_group_collection, select_options, class: "form-control" %>
			</div>
		</div>


		<div class="list-group-item">
			<%= form.submit :class => "btn btn-default" %>
			<%= button_tag "Reset Map", :type => 'button', :class => "btn btn-default", :id => "reset-map" %>
		</div>




		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				Map
			</div>
			<div class="list-group-item-text">
				<%= content_tag "div", :id => "map", :class => "map-edit", :data => @map_data do %><% end %>
				<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
			</div>
		</div>

	</div>

<% end %>
