<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

    <%- if [:info, :index, :new].include?(active) || active.eql?(:geofences) %>
      <li class="<%=  active.eql?(:info) ? 'active' : '' %>">
        <%= link_to "Geofences Info", info_geofences_path %>
      </li>

      <li class="<%= active.eql?(:index) ? 'active' : '' %>">
        <%= link_to "Geofences", geofences_path %>
      </li>

      <li class="<%= active.eql?(:new) ? 'active' : '' %>">
        <%= link_to "New", new_geofence_path %>
      </li>
    <%- end %>

		<% if active == :geofence || active == :edit %>
      <li class="<%= active.eql?(:geofence) ? 'active' : '' %>">
				<%= link_to "Geofence", geofence_path %>
			</li>
      <li class="<%= active.eql?(:edit) ? 'active' : '' %>">
				<%= link_to "Edit", edit_geofence_path %>
			</li>
			<li>
				<%= link_to "Delete", geofence_path, method: :delete, data: { confirm: "Are you sure you want to delete #{@geofence.name}?" } %>
			</li>

		<% end %>

	</ul>
</div>
