<%= render "tabs", :active => :index %>

<br>

<%= link_to "Export to CSV", export_geofences_path, :class => "btn btn-info" %>

<br><br>

    <%= form_tag(geofences_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Geofences", class: 'form-control', style: 'width:300px; display: inline-block' %>
    <%= submit_tag "Search", :name => nil, class: 'form-control', style: 'width:90px; display: inline-block' %>
<% end %>

<br>

<div class="list-group">

	<% @geofences.each do |geofence| %>
		<div class="list-group-item %>">
			<%= link_to "#{geofence.name}", geofence %>
		</div>
	<% end %>

</div>

<%= will_paginate @geofences %>

