<%= render "tabs", :active => :info %>

<h3>Geofence Groups</h3>
<p>GeofenceGroups are an encapsulation of a full Geofence model. A GeofenceGroup has many Geofences (containing latitude, longitude and radius) along with an action such as a Survey or QuickPoll, and trigger type (entry, exit, dwell) and similar metadata.
For example, a GeofenceGroup that is called "Yorkshire Train Stations" may have a Geofence for each Train Station in the Yorkshire area and may have an exit trigger for a Survey titled "How was your Journey?".</p>
<p>You can select how the surveys attached to geo fences in a group trigger. You can create a group and once a user activates a survey they will not receive any further surveys for geo fences in that group.</p>
<p>You can also set the group up so that a user can trigger every survey attached the to geo fences in that group. Once they trigger a survey they cannot trigger it again regardless of how many times they visit that geo fence.</p>
<p>Finally, you can set the group so that the user can trigger all surveys within it every time they break a geo fence in the group.</p>

<h3>Geofence Collections</h3>
<p>GeofenceCollections are a set of reusable coordinates, uploaded to the server via a CSV file, that can be used to aid in building a GeofenceGroup rapidly.
For example, a GeofenceCollection called "London Bus Stations" may have the coordinates of all the Bus Stations in London, along with their Name, Latitude, Longitude and Radius. It will not have any triggers or actions associated with it, but can be used to build an active GeofenceGroup.</p>

<h3>Geofence Data</h3>
<p>Geofence Data is manually set Geofence that belongs to Geofence Collection. The admin will be able to include additional Geofence in a Geofence Collection without uploading another CSV file with the same list of Geofences.
For example, if an admin missed out a couple of Geofences after uploading a Geofence Collection, the admin can manually include these Geofences by creating Geofence Data under the same Geofence Collection.</p>
