<%= render "tabs", :active => :map %>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-text">
			<%= content_tag "div", :id => "map", :class => "map-show", :data => @map_data do %><% end %>
			<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
		</div>
	</div>

</div>

