<%= render "tabs", :active => :geofence %>

<h1>Geofence</h1>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Name
		</div>
		<div class="list-group-item-text">
			<%= @geofence.name %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Description
		</div>
		<div class="list-group-item-text">
			<%= @geofence.description %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Latitude
		</div>
		<div class="list-group-item-text">
			<%= @geofence.latitude %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Longitude
		</div>
		<div class="list-group-item-text">
			<%= @geofence.longitude %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Radius (in metres)
		</div>
		<div class="list-group-item-text">
			<%= @geofence.radius %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Delay (in seconds)
		</div>
		<div class="list-group-item-text">
			<%= @geofence.delay %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Geofence Group
		</div>
		<div class="list-group-item-text">
			<%= link_to @geofence.geofence_group.name, @geofence.geofence_group %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Map
		</div>
		<div class="list-group-item-text">
			<%= content_tag "div", :id => "map", :class => "map-show", :data => @map_data do %><% end %>
			<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
		</div>
	</div>



</div>
