
<i><b>Week <%= Time.now.strftime('%U') %></b></i>

<br><br>

           <% statistics_records.each do |statistic_records| %>
        
          <%- statistic_records.each do |key, statistic_record| %>
            
            <div class="col-sm-4"><div id="dashboard-column-3"><div class="figures">

            <h4 style="font-size: 15px;"><%= sanitize_key(key) %></h4><br>

            <b>

            <%= statistic_record[0] %> this week<br>
            
            <%= statistic_record[1] %> in total

            </b>

            </div></div></div>
          <% end %>
      <% end %>
