<%= form_for 'access_log', url: export_usage_study_access_logs_path do |form| %>
  <div class="list-group-item-text">
    <div class="row">
      <div class="col-md-12">
        <%= form.label :vpn_study_id, 'VPN Study' %><br/>
        <%= form.select :vpn_study_id, vpn_study_collection, { prompt: 'All VpnStudies' }, onchange: 'verifyVpnStudy(this.value);' %>
      </div>
      <div class="col-md-4">
        <div class="form-group">
        <br>
          <%= form.label :start_date %><br/>
          <%= date_select('start_date', '', prompt: { year: 'Year', month: 'Month', day: 'Day'}, class: "form-control") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
        <br>
          <%= form.label :end_date %><br/>
          <%= date_select('end_date', '', prompt: { year: 'Year', month: 'Month', day: 'Day'}, class: "form-control") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= form.button 'Export Access Logs', type: 'button', class: 'btn btn-info', disabled: true, id: 'access_log_submit_btn', onclick: 'calculateDateBeforeSubmit(this);' %>
      </div>
    </div>
  </div>
  <br/>
  <strong>NOTE: Select VPN Study to enable the export button. Export dates should not exceed 7 days from start_date.</strong>
<% end %>

