<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%= active == :usage_study_access_logs ? 'active' : '' %>">
      <%= link_to "Usage Study Access Logs", usage_study_access_logs_path %>
    </li>

  </ul>
</div>

