<% if usage_study_access_logs.any? %>
  <% usage_study_access_logs.each do |access_log| %>
    <table class='accordion-container table table-condensed fixed table-striped'>
      <tbody>
        <tr class="accordion info">
          <td colspan="5">
            <span class="open-td">Date: <strong><%= access_log.formatted_time_since_epoch(type: '%F') %></strong></span>
            <span class="open-td">Time: <strong><%= access_log.formatted_time_since_epoch(type: '%T') %></strong></span>
            <span class="open-td">Client IP: <strong><%= access_log.ip_client %></strong></span>
            <span class="open-td">User: <strong><%= access_log.panelist_email %></strong></span>
            <p class='url-p nowrap'>URL: <strong><%= access_log.http_url %></strong></p>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <p>HTTP UserAgent: <strong><%= access_log.http_useragent %></strong></p>
            <span class="open-td">HTTP Status Code: <strong><%= access_log.http_status_code %></strong></span>
            <span class="open-td">HTTP Reply Size: <strong><%= access_log.http_reply_size %></strong></span>
            <span class="open-td">HTTP Method: <strong><%= access_log.http_method %></strong></span>
            <span class="open-td">HTTP Mime Type: <strong><%= access_log.http_mime_type %></strong></span>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <span class="open-td">Server IP: <strong><%= access_log.ip_server %></strong></span>
            <span class="open-td">Response Time: <strong><%= access_log.time_response %></strong></span>
            <span class="open-td">Squid Hier Status: <strong><%= access_log.squid_hier_status %></strong></span>
            <span class="open-td">Squid Request Status: <strong><%= access_log.squid_request_status %></strong></span>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  No usage study access logs for this user.
<% end %>

