<%= render partial: 'bart_audit_logs/tabs', locals: { active: :usage_study_access_log } %>

<div class="list-group col-sm-12">

  <h3><%= @usage_study_access_log.panelist_email %></h3>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Time Since Epoch
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.formatted_time_since_epoch %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Time Response (in seconds)
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.time_response %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      IP Client
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.ip_client %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      IP Server
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.ip_server %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      HTTP Status Code
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.http_status_code %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      HTTP Reply Size
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.http_reply_size %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      HTTP Method
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.http_method %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      HTTP URL
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.http_url %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      HTTP Username
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.http_username %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      HTTP Mime Type
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.http_mime_type %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Squid Request Status
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.squid_request_status %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Squid Hier Status
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.squid_hier_status %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      HTTP Useragent
    </div>
    <div class="list-group-item-text">
      <%= @usage_study_access_log.http_useragent %>
    </div>
  </div>

</div>

