<table class='table table-condensed'>
  <thead>
    <th>Start Time</th>
    <th>Result</th>
    <th>Ellapsed Time (in ms)</th>
  </thead>
  <tbody>
    <% @vpn_page_monitoring_results.each do |vpn_page_monitoring_result| %>
      <tr>
        <td><%= vpn_page_monitoring_result.start_time %></td>
        <td><%= vpn_page_monitoring_result.test_status %></td>
        <td><%= vpn_page_monitoring_result.ellapsed_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

