<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%=  active.eql?(:vpn_page_monitoring_results) ? 'active' : '' %>">
      <%= link_to "VPN Page Monitoring Result", vpn_page_monitoring_results_path %>
    </li>

  </ul>
</div>

