<%= render "tabs", active: :vpn_page_monitoring_results %>

<h3>VPN Page Monitoring Results</h3>
<%- if @vpn_page_monitoring_results.any? %>
  <%= render 'table' %>
  <%= will_paginate @vpn_page_monitoring_results %>
<%- end %>

