<%= form_for @vpn_study_credential, html: { multipart: true } do |form| %>

  <%= render "layouts/crud_error", :errorable => @vpn_study_credential %>

  <div class="list-group">

    <%= hidden_field_tag("access_token", panelist_access_token) %>

    <%= form.hidden_field :vpn_study_id, value: vpn_study_id %>

    <div class="list-group-item">
      <div class="list-group-item-heading text-muted">
        <%= form.label :ios_config, 'iOS Config' %>
      </div>
      <div class="list-group-item-text">
        <%= form.file_field :ios_config, class: "form-control" %>
      </div>
      <% if @vpn_study_credential.ios_config.exists? %>
        <br/>
        <div class="list-group-item-text">
          <strong>iOS Config File:</strong>
          <%= link_to @vpn_study_credential.ios_config.original_filename, @vpn_study_credential.ios_config.url %>
        </div>
      <% end %>
    </div>

    <div class="list-group-item">
      <div class="list-group-item-heading text-muted">
        <%= form.label :android_config %>
      </div>
      <div class="list-group-item-text">
        <%= form.file_field :android_config, class: "form-control" %>
      </div>
      <% if @vpn_study_credential.android_config.exists? %>
        <br/>
        <div class="list-group-item-text">
          <strong>Android Config File:</strong>
          <%= link_to @vpn_study_credential.android_config.original_filename, @vpn_study_credential.android_config.url %>
        </div>
      <% end %>
    </div>

    <div class="list-group-item">
      <div class="list-group-item-heading text-muted">
        <%= form.label :android_ssl_cert %>
      </div>
      <div class="list-group-item-text">
        <%= form.file_field :android_ssl_cert, class: "form-control" %>
      </div>
      <% if @vpn_study_credential.android_ssl_cert.exists? %>
        <br/>
        <div class="list-group-item-text">
          <strong>Android SSL Certificate File:</strong>
          <%= link_to @vpn_study_credential.android_ssl_cert.original_filename, @vpn_study_credential.android_ssl_cert.url %>
        </div>
      <% end %>
    </div>

    <div class="list-group-item">
      <div class="list-group-item-heading text-muted">
        <%= form.label :status %>
      </div>
      <div class="list-group-item-text">
        <%= form.select :status, VpnStudyCredential.statuses.map{ |status| [status[0], status[0]]}, class: "form-control" %>
      </div>
    </div>

    <div class="list-group-item">
      <%= form.submit class: "btn btn-default" %>
    </div>

  </div>
<% end %>
