

<b>Filter Status:</b>
<div id="content">
    <ul id="tabs" class="nav nav-tabs filter-tab" data-tabs="tabs">
      <li class="active"><a href="#grey" data-toggle="tab">All</a></li>
        <li><a href="#red" data-toggle="tab">Pending</a></li>
        <li><a href="#orange" data-toggle="tab">Cancelled</a></li>
        <li><a href="#yellow" data-toggle="tab">Active</a></li>
        <li><a href="#green" data-toggle="tab">Complete</a></li>
    </ul>

    <br>

    <div id="my-tab-content" class="tab-content">

    <div class="tab-pane active" id="grey">
<% if @vpn_study_credentials.any? %>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Panelist</th>
      <th>iOS Config</th>
      <th>Android Config</th>
      <th>Android SSL Certificate</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_study_credentials.each do |vpn_study_credential| %>
        <tr>
          <td><%= link_to vpn_study_credential.panelist, vpn_study_credential_path(vpn_study_credential) %></td>
          <td><%= vpn_study_credential.ios_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_ssl_cert.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.status %></td>
          <td>
            <% if vpn_study_credential.active? %>
              <p><%= link_to "Edit", edit_vpn_study_credential_path(vpn_study_credential), class: "btn btn-info actions" %></p>
              <p>
                <%= link_to "Mark as Complete", vpn_study_credential, method: :delete, class: "btn btn-danger actions", data: { confirm: "Are you sure you want to mark as complete #{vpn_study_credential.panelist}'s credential?" } %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>

  <%= will_paginate @vpn_study_credentials %>

        </div>

        <div class="tab-pane" id="red">
            <% if @vpn_study_credentials.any? %>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Panelist</th>
      <th>iOS Config</th>
      <th>Android Config</th>
      <th>Android SSL Certificate</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_pending.each do |vpn_study_credential| %>
        <tr>
          <td><%= link_to vpn_study_credential.panelist, vpn_study_credential_path(vpn_study_credential) %></td>
          <td><%= vpn_study_credential.ios_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_ssl_cert.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.status %></td>
          <td>
            <% if vpn_study_credential.active? %>
              <p><%= link_to "Edit", edit_vpn_study_credential_path(vpn_study_credential), class: "btn btn-info actions" %></p>
              <p>
                <%= link_to "Mark as Complete", vpn_study_credential, method: :delete, class: "btn btn-danger actions", data: { confirm: "Are you sure you want to mark as complete #{vpn_study_credential.panelist}'s credential?" } %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>
        </div>

        <div class="tab-pane" id="orange">
            <% if @vpn_study_credentials.any? %>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Panelist</th>
      <th>iOS Config</th>
      <th>Android Config</th>
      <th>Android SSL Certificate</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_cancelled.each do |vpn_study_credential| %>
        <tr>
          <td><%= link_to vpn_study_credential.panelist, vpn_study_credential_path(vpn_study_credential) %></td>
          <td><%= vpn_study_credential.ios_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_ssl_cert.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.status %></td>
          <td>
            <% if vpn_study_credential.active? %>
              <p><%= link_to "Edit", edit_vpn_study_credential_path(vpn_study_credential), class: "btn btn-info actions" %></p>
              <p>
                <%= link_to "Mark as Complete", vpn_study_credential, method: :delete, class: "btn btn-danger actions", data: { confirm: "Are you sure you want to mark as complete #{vpn_study_credential.panelist}'s credential?" } %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>
        </div>

  <div class="tab-pane" id="yellow">
            <% if @vpn_study_credentials.any? %>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Panelist</th>
      <th>iOS Config</th>
      <th>Android Config</th>
      <th>Android SSL Certificate</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_active.each do |vpn_study_credential| %>
        <tr>
          <td><%= link_to vpn_study_credential.panelist, vpn_study_credential_path(vpn_study_credential) %></td>
          <td><%= vpn_study_credential.ios_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_ssl_cert.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.status %></td>
          <td>
            <% if vpn_study_credential.active? %>
              <p><%= link_to "Edit", edit_vpn_study_credential_path(vpn_study_credential), class: "btn btn-info actions" %></p>
              <p>
                <%= link_to "Mark as Complete", vpn_study_credential, method: :delete, class: "btn btn-danger actions", data: { confirm: "Are you sure you want to mark as complete #{vpn_study_credential.panelist}'s credential?" } %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>
        </div>

        <div class="tab-pane" id="green">
            <% if @vpn_study_credentials.any? %>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Panelist</th>
      <th>iOS Config</th>
      <th>Android Config</th>
      <th>Android SSL Certificate</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @vpn_complete.each do |vpn_study_credential| %>
        <tr>
          <td><%= link_to vpn_study_credential.panelist, vpn_study_credential_path(vpn_study_credential) %></td>
          <td><%= vpn_study_credential.ios_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_config.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.android_ssl_cert.exists? ? "Yes" : "No" %></td>
          <td><%= vpn_study_credential.status %></td>
          <td>
            <% if vpn_study_credential.active? %>
              <p><%= link_to "Edit", edit_vpn_study_credential_path(vpn_study_credential), class: "btn btn-info actions" %></p>
              <p>
                <%= link_to "Mark as Complete", vpn_study_credential, method: :delete, class: "btn btn-danger actions", data: { confirm: "Are you sure you want to mark as complete #{vpn_study_credential.panelist}'s credential?" } %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No Vpn Studies.
<% end %>
        </div>
        </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->


