<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

  <li class=<%= active.eql?(:vpn_study_credentials) ? "active" : "" %>><%= link_to "VPN Study Credentials", vpn_study_credentials_path %>

  <% if active == :vpn_study_credential || active == :edit %>
    <li class=<%= active.eql?(:vpn_study_credential) ? "active" : "" %>><%= link_to "VPN Study Credential", vpn_study_credential_path(access_token: @vpn_study_credential.panelist.access_token) %></li>
  <% end %>

  </ul>
</div>

