<%= render "tabs", :active => :vpn_study_credentials %>

<br>

    <%= render partial: 'layouts/search_drop_down_form',
      locals: {
                search_url_path: vpn_study_credentials_path,
                search_select_collection: panelist_collection,
                search_select_value: 'panelist_id'
              }
    %>

    <br>

<div class="list-group vpn-study-credential-table">
  <%= render :partial => 'table' %>
</div>