<%= render "tabs", :active => :vpn_study_credential %>

<br/>

<div class="list-group-item">

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Panelist
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study_credential.panelist %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      VPN Study
    </div>
    <div class="list-group-item-text">
      <%= link_to @vpn_study_credential.vpn_study, vpn_study_path(@vpn_study_credential.vpn_study) %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      iOS Config
    </div>
    <% if @vpn_study_credential.ios_config.exists? %>
      <div class="list-group-item-text">
        <%= link_to @vpn_study_credential.ios_config.original_filename, @vpn_study_credential.ios_config.url  %>
      </div>
    <% else %>
      No iOS Config.
    <% end %>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Android Config
    </div>
    <% if @vpn_study_credential.android_config.exists? %>
      <div class="list-group-item-text">
        <%= link_to @vpn_study_credential.android_config.original_filename, @vpn_study_credential.android_config.url  %>
      </div>
    <% else %>
      No Android Config.
    <% end %>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Android SSL Certificate
    </div>
    <% if @vpn_study_credential.android_ssl_cert.exists? %>
      <div class="list-group-item-text">
        <%= link_to @vpn_study_credential.android_ssl_cert.original_filename, @vpn_study_credential.android_ssl_cert.url  %>
      </div>
    <% else %>
      No Android SSL Certificate.
    <% end %>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Status
    </div>
    <div class="list-group-item-text">
      <%= @vpn_study_credential.status %>
    </div>
  </div>

</div>
