<h5>Hi!</h5>
<p>
  You're receiving this email as you are enlisted as a recipient for VPN Performance Alert. The speed test reached the threshold for number of errors using the VPN connection.
</p>
<p>Please check the VPN connection.</p>
<p>Thanks.</p>
