<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

    <li class="<%=  active.eql?(:vpn_managements) ? 'active' : '' %>">
      <%= link_to "VPN Managements", vpn_managements_path %>
    </li>

    <li class="<%=  active.eql?(:ssl_decryption_hosts) ? 'active' : '' %>">
      <%= link_to "SSL Decryption Hosts", ssl_decryption_hosts_path %>
    </li>

    <li class="<%= active.eql?(:new) ? 'active' : '' %>">
      <%= link_to "New", new_ssl_decryption_host_path %>
    </li>

    <%- if active.eql?(:ssl_decryption_host) || active.eql?(:edit) %>
      <li class="<%= active.eql?(:edit) ? 'active' : '' %>">
        <%= link_to "Edit", edit_ssl_decryption_host_path %>
      </li>
    <%- end %>

  </ul>
</div>

