<table class='table table-condensed'>
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Host Name</th>
    <th>Active</th>
    <th>Synced?</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @ssl_decryption_hosts.each do |ssl_decryption_host| %>
      <tr>
        <td><%= ssl_decryption_host.name %></td>
        <td><%= ssl_decryption_host.description %></td>
        <td><%= ssl_decryption_host.host_name %></td>
        <td><%= ssl_decryption_host.status.to_s.titleize %></td>
        <td><%= ssl_decryption_host.decrypthosts ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Edit', edit_ssl_decryption_host_path(ssl_decryption_host), class: 'btn btn-default'%>
          <%= link_to (ssl_decryption_host.decrypthosts ? 'Resync' : 'Sync'), sync_ssl_decryption_hosts_path(id: ssl_decryption_host.id), method: :post, class: 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

