<%= render 'tabs', active: :ssl_decryption_hosts %>

<%- if @ssl_decryption_hosts.any? %>
  <div class="list-group">
    <div class="list-group-item">
      <p>Sync All button will update all the changes made to all SSL hosts.</p>
      <%= link_to "Sync All", sync_ssl_decryption_hosts_path(id: 'all'), method: :post, :class => "btn btn-info" %>
    </div>
  </div>

  <div class="list-group">
    <%= render 'table' %>
    <%= will_paginate @ssl_decryption_hosts %>
  </div>
<%- end %>

