<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

		<% if active == :quick_poll_responses %><li class="active"><% else %><li><% end %>
			<%= link_to "Quick Poll Responses", quick_poll_responses_path %>
		</li>

		<% if active == :quick_poll || active == :edit %>
			<% if active == :quick_poll %><li class="active"><% else %><li><% end %>
				<%= link_to "Quick Poll", quick_poll_path %>
			</li>
		<% end %>

	</ul>
</div>
