<%= render "tabs", :active => :quick_poll_responses %>

<br>

    <%= link_to "Export to CSV", export_quick_poll_responses_path, :class => "btn btn-info" %>

<br>

<br>

<div class="list-group scrollable">
  <table class="table">
    <thead>
      <tr>
        <th>Panelist</th>
        <th>QuickPoll</th>
        <th>QuickPollQuestion</th>
        <th>QuickPollChoice</th>
        <th>Text</th>
        <th>Timetamp</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @quick_poll_responses.each do |response| %>
      <tr>
        <td><%= link_to response.panelist.email, response.panelist %></td>
        <td><%= link_to response.quick_poll.title, response.panelist %></td>
        <td><%= response.quick_poll_question.id %></td>
        <td><%= response.quick_poll_choice.answer %></td>
        <td><%= response.try(:quick_poll_choice_text) %></td>
        <td><%= response.created_at %></td>
        <td>
          <%= link_to "Delete", response, :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to delete Response ID #{response.id}"} %>
        </td>
    <%end%>
    </tbody>
  </table>
</div>

<%= will_paginate @quick_poll_responses %>

