<%= form_for @user do |form| %>

	<%= render "layouts/crud_error", :errorable => @user %>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :email %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :email, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :password %>
			</div>
			<div class="list-group-item-text">
				<%= form.password_field :password, :class => "form-control" %>
			</div>

			<br>

			<%= form.submit :class => "btn btn-default" %>

<% end %>
