<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

	    <li>
			<%= link_to "Admin", admin_index_path %>
		</li>

		<% if active == :users %><li class="active"><% else %><li><% end %>
			<%= link_to "Users", users_path %>
		</li>

		<% if active == :users || active == :new %>
			<% if active == :new %><li class="active"><% else %><li><% end %>
				<%= link_to "New", new_user_path(@user) %>
			</li>
		<% end %>

		<% if active == :user || active == :edit %>
			<% if active == :user %><li class="active"><% else %><li><% end %>
				<%= link_to "User", user_path(@user) %>
			</li>
			<% if active == :edit %><li class="active"><% else %><li><% end %>
				<%= link_to "Edit", edit_user_path(@user) %>
			</li>
		<% end %>

	</ul>
</div>