<%= render "tabs", :active => :users %>

<br>

<div class="list-group">

	<% @users.each do |user| %>
		<div class="list-group-item">
			<%= link_to user.email, user %>
			<span class="pull-right">
				<%= link_to "Delete", user, method: :delete %>
			</span>
		</div>
	<% end %>

</div>

