<%= render "tabs", :active => :user %>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Email
		</div>
		<div class="list-group-item-text">
			<%= @user.email %>
		</div>
	</div>

</div>
