<br>

    <table class="table table-bordered">
      <thead>
        <th></th>
        <th> # of Panelist</th>
      </thead>
      <tbody>
        <tr>
          <td>Total</td>
          <td><%= Panelist.all.count %></td>
        </tr>
        <tr>
          <td>Active in the last 24 hours</td>
          <td><%= active_panelist %></td>
        </tr>
        <tr>
          <td>Active in the last week</td>
          <td><%= active_panelist('week') %></td>
        </tr>
        <tr>
          <td>Active in the last month</td>
          <td><%= active_panelist('month') %></td>
        </tr>
      </tbody>
    </table>


