<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

		<% if active == :panelists %><li class="active"><% else %><li><% end %>
			<%= link_to "Panelists", panelists_path %>
		</li>

		<% if active == :panelist_stats %><li class="active"><% else %><li><% end %>
			<%= link_to "Statistics", panelist_stats_path %>
		</li>

		<% if active == :panelist %>
			<li class="active">
				<%= link_to "Panelist", panelists_path %>
			</li>
		<% end %>


	</ul>
</div>