<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <%- if active.eql?(:geofences) %>
      <li class="<%=  active.eql?(:info) ? 'active' : '' %>">
        <%= link_to "Geofences Info", info_geofences_path %>
      </li>

      <li class="<%= active.eql?(:index) ? 'active' : '' %>">
        <%= link_to "Geofences", geofences_path %>
      </li>

      <li class="<%= active.eql?(:new) ? 'active' : '' %>">
        <%= link_to "New", new_geofence_path %>
      </li>
    <%- end %>
  </ul>
</div>

