<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

	    <li>
			<%= link_to "Admin", admin_index_path %>
		</li>

		<% if active == :setting %><li class="active"><% else %><li><% end %>
			<%= link_to "Settings", setting_path %>
		</li>

		<% if active == :edit %><li class="active"><% else %><li><% end %>
			<%= link_to "Edit", edit_setting_path %>
		</li>

	</ul>
</div>