<%= render "tabs", :active => :edit %>

<%= form_for @setting do |form| %>

	<%= render "layouts/crud_error", :errorable => @setting %>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :qb_hostname %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :qb_hostname, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :qb_api_username %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :qb_api_username, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :qb_api_password %>
			</div>
			<div class="list-group-item-text">
				<%= form.password_field :qb_api_password, :value => @setting.qb_api_password, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :auth_timeout_seconds %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :auth_timeout_seconds, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "Questback Site ID" %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :site_id, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "Questback External Service ID" %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :questback_external_service_id, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "Refer a Friend - Mail Template" %>
			</div>
			<div class="list-group-item-text">
				<%= form.select :mail_template_id, MailTemplate.all.map{ |m| [m.description, m.id] } %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "Android Minumum Version" %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :android_minimum_version, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "iOS Minumum Version" %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :ios_minimum_version, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "GCM key" %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :gcm_key, :class => 'form-control' %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :apn_cert %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_area :apn_cert, :rows => 10, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :apn_passphrase %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :apn_passphrase, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :refer_promotion_id %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :refer_promotion_id, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "PCI" %>
			</div>
			<div class="list-group-item-text">
				<%= form.number_field :pci, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "VPN Hostname" %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :vpn_hostname, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "VPN Study Disconnect Delay" %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :vpn_study_disconnect_delay, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label "VPN Study IP Addresses" %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :vpn_study_ip_addresses, :class => "form-control" %>
			</div>

			<br>

			<%= form.submit :class => "btn btn-default" %>


<% end %>
