<%= render "tabs", :active => :setting %>

<br>

    <%= link_to "Reload All Surveys", reload_surveys_path, :class => "btn btn-info", :id => "reload-button", :style => "display:#{@reload_survey_in_progress ? 'none' : 'inline-block'};", data: { confirm: "Are you sure you want to reload ALL Surveys?" } %>
		<%= link_to "Reload Mail Templates", reload_mail_templates_path, :remote => true, :class => "btn btn-default", :id => "reload-button", :style => "display:#{@reload_in_progress ? 'none' : 'inline-block'};" %>
    <p id="reloading-text" <%= @reload_in_progress ? "" : "hidden" %> >Reloading QuestBack Mail Templates...</p>
    <p id="reloading-text" <%= @reload_survey_in_progress ? "" : "hidden"%> >Reloading QuestBack Surveys...</p>
    <p><%= @reload_survey_in_progress ? @reload_survey_status : "" %></p>

<br>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback Hostname
		</div>
		<div class="list-group-item-text">
			<%= @setting.qb_hostname %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback API Username
		</div>
		<div class="list-group-item-text">
			<%= @setting.qb_api_username %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback API Password
		</div>
		<div class="list-group-item-text">
			<%= @setting.qb_api_password.blank? ? "" : "*" * @setting.qb_api_password.size %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback Auth Expiry
		</div>
		<div class="list-group-item-text">
			<%= @setting.auth_timeout_seconds %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback Site ID
		</div>
		<div class="list-group-item-text">
			<%= @setting.site_id %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback External Service ID
		</div>
		<div class="list-group-item-text">
			<%= @setting.questback_external_service_id %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Refer a Friend - MailTemplate
		</div>
		<div class="list-group-item-text">
			<%= @setting.try(:mail_template).try(:description) %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Android Minimum Version
		</div>
		<div class="list-group-item-text">
			<%= @setting.android_minimum_version %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			iOS Minimum Version
		</div>
		<div class="list-group-item-text">
			<%= @setting.ios_minimum_version %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			GCM Key
		</div>
		<div class="list-group-item-text">
			<%= @setting.gcm_key %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			APN Cert
		</div>
		<div class="list-group-item-text">
			<%= simple_format @setting.apn_cert %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			APN Passphrase
		</div>
		<div class="list-group-item-text">
			<%= @setting.apn_passphrase %>
		</div>
  </div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Refer Promotion ID
		</div>
		<div class="list-group-item-text">
			<%= @setting.refer_promotion_id %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			PCI
		</div>
		<div class="list-group-item-text">
			<%= @setting.pci %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			VPN Hostname
		</div>
		<div class="list-group-item-text">
			<%= @setting.vpn_hostname %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			VPN Study Disconnect Delay (in seconds)
		</div>
		<div class="list-group-item-text">
			<%= @setting.vpn_study_disconnect_delay %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			VPN Study IP Addresses (separate by comma)
		</div>
		<div class="list-group-item-text">
			<%= @setting.vpn_study_ip_addresses %>
		</div>
	</div>

</div>
