<div class="list-group" id="bartAuditLogExportBtn">
  <div class="list-group-item">
    <%- export_params = search_params.nil? ? {} : search_params %>
    <%= link_to "Export to CSV", export_log_exports_path(export_params.merge!(export_type: 'bart_audit_log')), :class => "btn btn-info" %>
  </div>
</div>
