<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">


    <li class="<%= active == :bart_audit_logs ? 'active' : '' %>">
      <%= link_to "Bart Audit Logs", bart_audit_logs_path %>
    </li>

    <%- if @usage_study_access_log %>
      <li class="<%= active == :usage_study_access_log ? 'active' : '' %>">
        <%= link_to "UsageStudyAccessLog", usage_study_access_log_path(@usage_study_access_log) %>
      </li>
    <%- end %>

  </ul>
</div>


