<div class="list-group" id="bartAuditLogTable">
  <%- if @bart_audit_logs.any? %>
    <table class="table table-striped">
      <thead>
        <th>Panelist</th>
        <th>Access Log ID</th>
        <th>Access Log Timestamp</th>
        <th>Search Term</th>
        <th>Access Log Email Sent</th>
        <th>Access Log Email Sent (Timestamp)</th>
      </thead>
      <tbody>
        <% @bart_audit_logs.each do |bart_audit_log| %>
          <tr>
            <td><%= bart_audit_log.panelist %></td>
            <td><%= link_to bart_audit_log.usage_study_access_log_id, usage_study_access_log_path(bart_audit_log.usage_study_access_log_id) %></td>
            <td><%= bart_audit_log.formatted_access_log_timestamp %></td>
            <td><%= bart_audit_log.access_log_search_term %></td>
            <td><%= bart_audit_log.formatted_access_log_email_sent %></td>
            <td><%= bart_audit_log.access_log_email_timestamp %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @bart_audit_logs %>
  <%- else %>
    No Bart Audit Logs.
  <%- end %>
</div>

