$("#bartAuditLogTable").html("<%= escape_javascript(render partial: 'table') %>");
$("#bartAuditLogExportBtn").html("<%= escape_javascript(render partial: 'export_button', locals: { search_params: params[:search] }) %>");

