<%= render "tabs", :active => :bart_audit_logs %>

<br/>

<div class="list-group">
  <div class="list-group-item">
    <%= render  partial: 'layouts/search_autocomplete_form',
                locals: { search_url_path: bart_audit_logs_path,
                          search_key: 'id',
                          search_label: 'Panelist',
                          search_autocomplete_url: autocomplete_panelist_email_panelists_path } %>
  </div>
</div>


<%- if @bart_audit_logs.any? %>
  <%= render partial: 'export_button', locals: { search_params: nil } %>
<%- end %>

<%= render partial: 'table' %>

