<table class="table table-condensed">
  <thead>
    <th>Sender</th>
    <th>Survey / QuickPoll</th>
    <th>SampleIDs / QuestbackGroupID</th>
    <th>Log Time</th>
  </thead>
  <tbody>
    <% @push_notification_logs.each do |push_notification_log| %>
      <tr>
        <td><%= link_to push_notification_log.user.to_s, user_path(push_notification_log.user_id) %></td>
        <td><%= survey_or_quick_poll_link(push_notification_log: push_notification_log) %></td>
        <td><%= sample_or_questback_group(push_notification_log: push_notification_log) %></td>
        <td><%= push_notification_log.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
