<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%= active == :push_notification_logs ? 'active' : '' %>">
      <%= link_to "Push Notification Logs", push_notification_logs_path %>
    </li>

  </ul>
</div>

