<table class='table table-condensed'>
  <thead>
    <th>FQDN (Host)</th>
    <th>Comment</th>
    <th>Created</th>
    <th>Active</th>
  </thead>
  <tbody>
    <% @decrypt_hosts.each do |decrypt_host| %>
      <tr>
        <td><%= decrypt_host.fqdn %></td>
        <td><%= decrypt_host.comment %></td>
        <td><%= decrypt_host.created %></td>
        <td><%= decrypt_host.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

