<%= form_for @profile_variable do |form| %>

	<%= render "layouts/crud_error", :errorable => @profile_variable %>

<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :name %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :name, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :description %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_area :description, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :value %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :value, :class => "form-control" %>
			</div>

			<br>

			<%= form.submit :class => "btn btn-default" %>

<% end %>
