<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

	    <li>
			<%= link_to "Admin", admin_index_path %>
		</li>

		<% if active == :profile_variables %><li class="active"><% else %><li><% end %>
			<%= link_to "ProfileVariables", profile_variables_path %>
		</li>

		<% if active == :profile_variables || active == :new %>
			<li>
				<%= link_to "New", new_profile_variable_path %>
			</li>
		<% end %>

		<% if active == :profile_variable || active == :edit %>
			<% if active == :profile_variable %><li class="active"><% else %><li><% end %>
				<%= link_to "ProfileVariable", profile_variable_path %>
			</li>

			<% if active == :edit %><li class="active"><% else %><li><% end %>
				<%= link_to "Edit", edit_profile_variable_path %>
			</li>
		<% end %>

	</ul>
</div>