<%= render "tabs", :active => :profile_variables %>

<div class="list-group">

<br>

	<% @profile_variables.each do |profile_variable| %>
		<div class="list-group-item">
			<%= link_to profile_variable.name, profile_variable %>
			<span class="pull-right">
				<%= link_to "Delete", profile_variable, method: :delete %>
			</span>
		</div>
		
	<% end %>

</div>

