<%= render "tabs", :active => :profile_variable %>

<h1>ProfileVariable</h1>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Name
		</div>
		<div class="list-group-item-text">
			<%= @profile_variable.name %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Description
		</div>
		<div class="list-group-item-text">
			<%= simple_format @profile_variable.description %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Value
		</div>
		<div class="list-group-item-text">
			<%= @profile_variable.value %>
		</div>
	</div>

</div>
