<%= form_for @survey do |form| %>

	<%= render "layouts/crud_error", :errorable => @survey %>

	<div class="list-group">

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :duration %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :duration, :class => "form-control" %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :survey_category %>
			</div>
      <div class="list-group-item-text">
        <%= form.select :survey_category_id, options_for_select(survey_category_collection, selected_survey_category) %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :active %>
			</div>
			<div class="list-group-item-text">
				<%= form.check_box :active %>
			</div>
		</div>

		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= form.label :registration_survey? %>
			</div>
			<div class="list-group-item-text">
				<%= form.check_box :registration_survey %>
			</div>
		</div>

		<div class="list-group-item">
			<%= form.submit :class => "btn btn-default" %>
		</div>

	</div>

<% end %>
