<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="ajaxModalLabel">Notify <%= @survey.title %></h4>
</div>
<% if @samples.any? %>
  <%= form_for "send_notification", url: send_notifications_survey_path(@survey) do |form| %>
    <div class='modal-body'>
      <% @samples.each do |sample| %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= check_box_tag "sample_ids[]", sample.id %>
              <%= form.label sample.title  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class='modal-footer'>
      <%= form.submit "Send Notification", class: 'btn btn-success' %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  <% end %>
<% else %>
  <div class='modal-body'>
    <strong>No Sample Panelists for this Survey<strong>
  </div>
  <div class='modal-footer'>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
<% end %>
