<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

		<% if active == :surveys %><li class="active"><% else %><li><% end %>
			<%= link_to "Surveys", surveys_path %>
		</li>

		<% if active == :survey || active == :edit %>
			<% if active == :survey %><li class="active"><% else %><li><% end %>
				<%= link_to "Survey", survey_path %>
			</li>
			<% if active == :edit %><li class="active"><% else %><li><% end %>
				<%= link_to "Edit", edit_survey_path %>
			</li>
		<% end %>

	</ul>
</div>