<b>Filter Status:</b>
<div id="content">
    <ul id="tabs" class="nav nav-tabs filter-tab" data-tabs="tabs">
    	<li class="active"><a href="#all" data-toggle="tab">All</a></li>
        <li><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#generated" data-toggle="tab">Generated</a></li>
        <li><a href="#archived" data-toggle="tab">Archived</a></li>
        <li><a href="#closing" data-toggle="tab">Closing</a></li>
        <li><a href="#finished" data-toggle="tab">Finished</a></li>
    </ul>

    <br>

    <div id="my-tab-content" class="tab-content">

    <div class="tab-pane active" id="all">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>QuestBackID</th>
				<th>Category</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @surveys.each do |survey| %>
				<tr>
					<td><%= link_to survey.title, survey %></td>
					<td><%= survey.survey_id %></td>
					<td>
						<% if survey.survey_category == nil %>
							UNASSIGNED
						<% else %>
							<%= survey.survey_category.name %>
							<div style="width:100px; height:20px; background-color:<%= survey.survey_category.color %>">&nbsp;</div>
							<% end %>
					</td>
					<td><%= survey.duration %></td>
					<td><%= survey.questback_status %></td>
					<td><%= survey.active ? '<i class="fa fa-check fa-fw" style="color:#00FF00"></i>'.html_safe : '<i class="fa fa-close fa-fw" style="color:#FF0000"></i>'.html_safe %></td>
					<td>
						<p><%= link_to "Edit", edit_survey_path(survey), :class => "btn btn-info actions" %></p>
						<% if survey.survey_category != nil  && survey.questback_status.downcase == "active" %>
							<p><%= link_to "Send Push Notification", "#", :class => "btn btn-success actions", onclick: "showPushNotificationForm({ title: '#{survey.title}', id: #{survey.id} });" %></p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= will_paginate @surveys %>

        </div>

        <div class="tab-pane" id="active">
            	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>QuestBackID</th>
				<th>Category</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @survey_active.each do |survey| %>
				<tr>
					<td><%= link_to survey.title, survey %></td>
					<td><%= survey.survey_id %></td>
					<td>
						<% if survey.survey_category == nil %>
							UNASSIGNED
						<% else %>
							<%= survey.survey_category.name %>
							<div style="width:100px; height:20px; background-color:<%= survey.survey_category.color %>">&nbsp;</div>
							<% end %>
					</td>
					<td><%= survey.duration %></td>
					<td><%= survey.questback_status %></td>
					<td><%= survey.active ? '<i class="fa fa-check fa-fw" style="color:#00FF00"></i>'.html_safe : '<i class="fa fa-close fa-fw" style="color:#FF0000"></i>'.html_safe %></td>
					<td>
						<p><%= link_to "Edit", edit_survey_path(survey), :class => "btn btn-info actions" %></p>
						<% if survey.survey_category != nil  && survey.questback_status.downcase == "active" %>
							<p><%= link_to "Send Push Notification", "#", :class => "btn btn-success actions", onclick: "showPushNotificationForm({ title: '#{survey.title}', id: #{survey.id} });" %></p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
        </div>

        <div class="tab-pane" id="generated">
<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>QuestBackID</th>
				<th>Category</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @survey_generated.each do |survey| %>
				<tr>
					<td><%= link_to survey.title, survey %></td>
					<td><%= survey.survey_id %></td>
					<td>
						<% if survey.survey_category == nil %>
							UNASSIGNED
						<% else %>
							<%= survey.survey_category.name %>
							<div style="width:100px; height:20px; background-color:<%= survey.survey_category.color %>">&nbsp;</div>
							<% end %>
					</td>
					<td><%= survey.duration %></td>
					<td><%= survey.questback_status %></td>
					<td><%= survey.active ? '<i class="fa fa-check fa-fw" style="color:#00FF00"></i>'.html_safe : '<i class="fa fa-close fa-fw" style="color:#FF0000"></i>'.html_safe %></td>
					<td>
						<p><%= link_to "Edit", edit_survey_path(survey), :class => "btn btn-info actions" %></p>
						<% if survey.survey_category != nil  && survey.questback_status.downcase == "active" %>
							<p><%= link_to "Send Push Notification", "#", :class => "btn btn-success actions", onclick: "showPushNotificationForm({ title: '#{survey.title}', id: #{survey.id} });" %></p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
        </div>

        <div class="tab-pane" id="archived">
            	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>QuestBackID</th>
				<th>Category</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @survey_archived.each do |survey| %>
				<tr>
					<td><%= link_to survey.title, survey %></td>
					<td><%= survey.survey_id %></td>
					<td>
						<% if survey.survey_category == nil %>
							UNASSIGNED
						<% else %>
							<%= survey.survey_category.name %>
							<div style="width:100px; height:20px; background-color:<%= survey.survey_category.color %>">&nbsp;</div>
							<% end %>
					</td>
					<td><%= survey.duration %></td>
					<td><%= survey.questback_status %></td>
					<td><%= survey.active ? '<i class="fa fa-check fa-fw" style="color:#00FF00"></i>'.html_safe : '<i class="fa fa-close fa-fw" style="color:#FF0000"></i>'.html_safe %></td>
					<td>
						<p><%= link_to "Edit", edit_survey_path(survey), :class => "btn btn-info actions" %></p>
						<% if survey.survey_category != nil  && survey.questback_status.downcase == "active" %>
							<p><%= link_to "Send Push Notification", "#", :class => "btn btn-success actions", onclick: "showPushNotificationForm({ title: '#{survey.title}', id: #{survey.id} });" %></p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
        </div>

        <div class="tab-pane" id="closing">
         <table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>QuestBackID</th>
				<th>Category</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @survey_closing.each do |survey| %>
				<tr>
					<td><%= link_to survey.title, survey %></td>
					<td><%= survey.survey_id %></td>
					<td>
						<% if survey.survey_category == nil %>
							UNASSIGNED
						<% else %>
							<%= survey.survey_category.name %>
							<div style="width:100px; height:20px; background-color:<%= survey.survey_category.color %>">&nbsp;</div>
							<% end %>
					</td>
					<td><%= survey.duration %></td>
					<td><%= survey.questback_status %></td>
					<td><%= survey.active ? '<i class="fa fa-check fa-fw" style="color:#00FF00"></i>'.html_safe : '<i class="fa fa-close fa-fw" style="color:#FF0000"></i>'.html_safe %></td>
					<td>
						<p><%= link_to "Edit", edit_survey_path(survey), :class => "btn btn-info actions" %></p>
						<% if survey.survey_category != nil  && survey.questback_status.downcase == "active" %>
							<p><%= link_to "Send Push Notification", "#", :class => "btn btn-success actions", onclick: "showPushNotificationForm({ title: '#{survey.title}', id: #{survey.id} });" %></p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
        </div>

        <div class="tab-pane" id="finished">
             <table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>QuestBackID</th>
				<th>Category</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @survey_finished.each do |survey| %>
				<tr>
					<td><%= link_to survey.title, survey %></td>
					<td><%= survey.survey_id %></td>
					<td>
						<% if survey.survey_category == nil %>
							UNASSIGNED
						<% else %>
							<%= survey.survey_category.name %>
							<div style="width:100px; height:20px; background-color:<%= survey.survey_category.color %>">&nbsp;</div>
							<% end %>
					</td>
					<td><%= survey.duration %></td>
					<td><%= survey.questback_status %></td>
					<td><%= survey.active ? '<i class="fa fa-check fa-fw" style="color:#00FF00"></i>'.html_safe : '<i class="fa fa-close fa-fw" style="color:#FF0000"></i>'.html_safe %></td>
					<td>
						<p><%= link_to "Edit", edit_survey_path(survey), :class => "btn btn-info actions" %></p>
						<% if survey.survey_category != nil  && survey.questback_status.downcase == "active" %>
							<p><%= link_to "Send Push Notification", "#", :class => "btn btn-success actions", onclick: "showPushNotificationForm({ title: '#{survey.title}', id: #{survey.id} });" %></p>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->
