<%= render "tabs", :active => :surveys %>

<br>

    <%= form_tag(surveys_path, :method => "get", style: 'float:right') do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Surveys", class: 'form-control', style: 'width:300px; display: inline-block;' %>
    <%= submit_tag "Search", :title => nil, class: 'form-control', style: 'width:90px; display: inline-block' %>
<% end %>

<%= link_to "Reload Active Surveys", reload_surveys_path(active: true), :remote => true, :class => "btn btn-info", :id => "reload-active-button", :style => "display:#{@reload_in_progress ? 'none' : 'inline-block'};" %>
	<p id="reloading-text" <%= @reload_in_progress ? "" : "hidden"%> >Reloading QuestBack Surveys...</p>
    <%= @reload_in_progress ? @reload_status : "" %>

<br><br>

<div class="list-group surveys-table">
	<%= render :partial => 'table' %>
</div>

<%= render 'layouts/modal' %>