<%= render "tabs", :active => :survey %>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Title
		</div>
		<div class="list-group-item-text">
			<%= @survey.title %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			QuestBack ID
		</div>
		<div class="list-group-item-text">
			<%= @survey.survey_id %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Created Time
		</div>
		<div class="list-group-item-text">
			<%= @survey.created_time %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Start Time
		</div>
		<div class="list-group-item-text">
			<%= @survey.start_time %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			End Time
		</div>
		<div class="list-group-item-text">
			<%= @survey.end_time %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Bonus Points
		</div>
		<div class="list-group-item-text">
			<%= @survey.bonus_points %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Duration
		</div>
		<div class="list-group-item-text">
			<%= @survey.duration %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Survey Category
		</div>
		<div class="list-group-item-text">
			<% if @survey.survey_category == nil %>
				UNASSIGNED
			<% else %>
				<%= @survey.survey_category.name %>
				<div style="width:100px; height:20px; background-color:<%= @survey.survey_category.color %>">&nbsp;</div>
			<% end %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Registration Survey ?
		</div>
		<div class="list-group-item-text">
			<%= @survey.registration_survey %>
		</div>
	</div>

</div>
