<table class='table table-condensed'>
  <thead>
    <th>Panelist</th>
    <th>Network Provider</th>
    <th>Device Model</th>
    <th>Device Manufacturer</th>
    <th>More Info</th>
  </thead>
  <tbody>
    <% @device_metadata.each do |device_metadatum| %>
      <tr>
        <td><%= device_metadatum.panelist.to_s %></td>
        <td><%= device_metadatum.network_provider %></td>
        <td><%= device_metadatum.device_model %></td>
        <td><%= device_metadatum.device_manufacturer %></td>
        <td><%= sanitize_more_info(device_metadatum.more_info) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

