<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="<%=  active.eql?(:device_metadata) ? 'active' : '' %>">
      <%= link_to "Device Metadata", device_metadata_path %>
    </li>
  </ul>
</div>

