<%= render "tabs", :active => :device_metadata %>

<br>

    <%- panelist_id = params[:search].blank? ? nil : params[:search][:panelist_id] %>
    <%= link_to 'Export Device Metadata', export_log_exports_path(export_type: 'device_metadatum', panelist_id: panelist_id), class: 'btn btn-info' %>

    <br><br>

    <%= render  partial: 'layouts/search_drop_down_form',
                locals: {
                  search_url_path: device_metadata_path,
                  search_select_collection: panelist_collection,
                  search_select_value: 'panelist_id'
                } %>

                <br>

<div class="list-group">
  <%- if @device_metadata.any? %>
    <%= render 'table' %>
    <%= @search_type ? (will_paginate(@device_metadata, params: { search: { type: @search_type } })) : (will_paginate @device_metadata) %>
  <%- else %>
    <p>No Device Metadata found.</p>
  <%- end %>
</div>
