<script>
  $('.toggle-<%= log_export.id %>').click(function() {
    if($(this).html() == '<%= log_export.file.original_filename %>'){
      $(this).html("<%= truncate(log_export.file.original_filename, length: 35, omission: '... .csv') %>");
    } else {
      $(this).html('<%= log_export.file.original_filename %>');
    };
  });
</script>
