<table class='table table-condensed'>
  <thead>
    <th>User</th>
    <th>Filename</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @log_exports.each do |log_export| %>
      <tr>
        <td><%= log_export.user %></td>
        <td class='toggle-<%= log_export.id %>'><%= truncate(log_export.file.original_filename, length: 35, omission: '... .csv') %></td>
        <%= render partial: 'filename_toggle', locals: { log_export: log_export } %>
        <td>
          <%= link_to_fa_icon('download', 'Download', download_log_export_path(log_export), 'primary') %>
          <%= link_to_fa_icon('trash', 'Delete', log_export_path(log_export), 'danger',
                              { method: :delete, data: { confirm: "Are you sure you want to delete this export?" } }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

