<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%=  active.eql?(:log_exports) ? 'active' : '' %>">
      <%= link_to "Log Exports", log_exports_path %>
    </li>

    <li class="<%=  active.eql?(:usage_study_access_log_exports) ? 'active' : '' %>">
      <%= link_to "VPN Log Exports", log_exports_path(export_type: 'usage_study_access_log') %>
    </li>

    <li class="<%=  active.eql?(:device_metadatum_exports) ? 'active' : '' %>">
      <%= link_to "Device Metadatum Exports", log_exports_path(export_type: 'device_metadatum') %>
    </li>

    <li class="<%=  active.eql?(:bart_audit_log_exports) ? 'active' : '' %>">
      <%= link_to "Bart Audit Log Exports", log_exports_path(export_type: 'bart_audit_log') %>
    </li>

  </ul>
</div>
