<%- active_export = params[:export_type] ? "#{params[:export_type]}_exports" : "log_exports" %>
<%= render "tabs", active: active_export.to_sym %>

<br>

<%- if params[:export_type] %>
      <%- if @log_exports.any? %>
        <%= link_to "Delete All Exports", log_export_path(id: 'all', export_type: params[:export_type]), method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete all exports?" %>
        <br/>
      <%- else %>
        <h3><%= params[:export_type].titleize %> Exports</h3>
      <%- end %>
      <p id="reloading-text" <%= @export_in_progress ? "" : "hidden"%> >Exporting <%= params[:export_type].pluralize.humanize.titleize %>...</p>
      <p><%= @export_in_progress ? @export_status : "" %></p>

<br>

  <%- if @log_exports.any? %>
    <h5>NOTE: Click Filename to view full text.</h5>
    <div class="list-group">
      <%= render 'table' %>
      <%= will_paginate @log_exports %>
    </div>
  <%- end %>
<%- else %>
<%- end %>

