<table class='table table-condensed'>
  <thead>
    <th>IP Client</th>
    <th>Username</th>
    <th>Session Start</th>
    <th>Session End</th>
    <th>Bytes Used</th>
    <th>Bytes Received</th>
    <th>Bytes Sent</th>
    <th>Terminal</th>
  </thead>
  <tbody>
    <% @vpn_bandwidth_usages.each do |vpn_bandwidth_usage| %>
      <tr>
        <td><%= vpn_bandwidth_usage.ip_client %></td>
        <td><%= vpn_bandwidth_usage.username %></td>
        <td><%= vpn_bandwidth_usage.session_start %></td>
        <td><%= vpn_bandwidth_usage.session_end %></td>
        <td><%= vpn_bandwidth_usage.bytes_used %></td>
        <td><%= vpn_bandwidth_usage.bytes_received %></td>
        <td><%= vpn_bandwidth_usage.bytes_sent %></td>
        <td><%= vpn_bandwidth_usage.terminal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

