<h3>Bandwidth Usage</h3>

<div class="list-group">
  <div class="list-group-item">
    <%= link_to 'Export VPN Bandwidth Usages', export_vpn_bandwidth_usages_path, class: 'btn btn-info' %>
  </div>
</div>

<div class="list-group">
  <%= render partial: 'table' %>
  <%= will_paginate @vpn_bandwidth_usages %>
</div>

