<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

	    <li>
			<%= link_to "Admin", admin_index_path %>
		</li>

		<% if active == :master_data_descriptions %><li class="active"><% else %><li><% end %>
			<%= link_to "MasterData", master_data_descriptions_path %>
		</li>

		<% if active == :master_data_description %>
			<li class="active">
				<%= link_to "Mapping", master_data_description_path %>
			</li>
		<% end %>

	</ul>
</div>