	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Label</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<% @master_data_descriptions.each do |master_data_description| %>
				<tr>
					<td><%= link_to master_data_description.varname, master_data_description %></td>
					<td><%= master_data_description.label %></td>
					<td><%= master_data_description.datatype %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
