<%= render "tabs", :active => :master_data_descriptions %>

<br>

		<%= link_to "Reload", reload_master_data_descriptions_path, :remote => true, :class => "btn btn-default", :id => "reload-button", :style => "display:#{@reload_in_progress ? 'none' : 'inline-block'};" %>
    <p id="reloading-text" <%= @reload_in_progress ? "" : "hidden"%> >Reloading QuestBack MasterData...</p>
    <p><%= @reload_in_progress ? @reload_status : "" %></p>

<br>

<div class="list-group master-data-table">
	<%= render :partial => 'table' %>
</div>

