<%= render "tabs", :active => :master_data_description %>

<h1>MasterData Mapping - <%= @master_data_description.varname %></h1>

<div class="list-group">
	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Name
		</div>
		<div class="list-group-item-text">
			<%= @master_data_description.varname %>
		</div>
	</div>
	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Label
		</div>
		<div class="list-group-item-text">
			<%= @master_data_description.label %>
		</div>
	</div>
	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Type
		</div>
		<div class="list-group-item-text">
			<%= @master_data_description.datatype %>
		</div>
	</div>
</div>

<div class="list-group">
	<% @master_data_description.categories.each do |mapping| %>
		<div class="list-group-item">
			<div class="list-group-item-heading text-muted">
				<%= mapping[0] %>
			</div>
			<div class="list-group-item-text">
				<%= mapping[1] %>
			</div>
		</div>
	<% end %>
</div>
