<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

		<li>
			<%= link_to "Panelist", panelist_path(@push_notification_credential.panelist) %>
		</li>

		<li class="active">
			<%= link_to "PushNotificationCredential", panelist_push_notification_credential_path %>
		</li>

		<li>
			<%= link_to "Delete", panelist_push_notification_credential_path, method: :delete, data: { confirm: "Are you sure you want to delete #{@push_notification_credential.token}?" } %>
		</li>


	</ul>
</div>