<%= render "tabs", :active => :push_notification_credential %>

<h1>Push Notification Credential - <%= @push_notification_credential.panelist.email %></h1>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Token
		</div>
		<div class="list-group-item-text">
			<%= @push_notification_credential.token %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Notification Service
		</div>
		<div class="list-group-item-text">
			<%= @push_notification_credential.notification_service.upcase %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			<%# TODO Only for testing / dev %>
			Test
		</div>
		<div class="list-group-item-text">
			<%= link_to "Test", "#", :class => "btn btn-default", :id => "test-notification" %>
		</div>
	</div>

</div>
