<table class="table table-condensed table-bordered table-striped table-responsive">
  <%- if @bart_setting.bart_actions.any? %>
    <thead>
      <tr>
        <th>Search Term</th>
        <th>Survey URL</th>
        <th>Survey Parameters</th>
      </tr>
    </thead>
    <tbody>
      <%- @bart_setting.bart_actions.each do |bart_action| %>
        <tr>
          <td><%= bart_action.search_term %></td>
          <td><%= bart_action.survey_url %></td>
          <td><%= bart_action.survey_parameters %></td>
        </tr>
      <%- end %>
    </tbody>
  <%- else %>
    No Bart Actions.
  <%- end %>
</table>
