<div class="list-group-item">
  <div class="row">
    <div class="col-sm-4">
      <h3>BART Action</h3>
    </div>
    <div class="pull-right" style="padding: 20px 10px 0px 0px;">
      <%- if @bart_setting && @bart_setting.action_csv_file? %>
        <%= link_to "Download Existing BART Actions CSV", export_csv_file_bart_settings_path(type: 'attached', id: @bart_setting.id), class: 'btn btn-info btn-sm' %>
      <%- end %>
    </div>
  </div>
</div>

<%= render 'bart_actions_table' %>
