<fieldset>

<div class="row">
<div class="col-sm-6">
<br>
    <div class="list-group-item-heading text-muted">
      <%= f.label :start_activation_period, 'BART Activation Period (Start)' %>
    </div>
    <div class="list-group-item-text">
      <%= f.text_field :start_activation_period, class: "form-control ui-datepicker", id: 'start_date_picker' %>
    </div>
</div>
<div class="col-sm-6">
    <div class="list-group-item-heading text-muted">
      <%= f.label :end_activation_period, 'BART Activation Period (Stop)' %>
    </div>
    <div class="list-group-item-text">
      <%= f.text_field :end_activation_period, class: "form-control ui-datepicker", id: 'end_date_picker' %>
    </div>
</div>
</div>

<br>

    <div class="list-group-item-heading text-muted">
      <%= f.label :frequency_checker, 'BART Frequency Checker (in minutes)' %>
    </div>
    <div class="list-group-item-text" style="width: 10%;">
        <%= f.text_field :frequency_checker, class: "form-control" %>
    </div>

<br>

    <div class="list-group-item-heading text-muted">
      <%= f.label :exclusion_setting, 'Time to wait following re-activation in minutes' %>
    </div>
    <div class="list-group-item-text" style="width: 10%;">
      <%= f.text_field :exclusion_setting, class: "form-control" %>
    </div>

<br>

    <div class="list-group-item-heading text-muted">
      <%= f.label :exclude_all, 'Exclude from all BART searches?' %>
    </div>
    <div class="list-group-item-text">
      <%= f.check_box :exclude_all%>
    </div>

<br>

    <div class="list-group-item-heading text-muted">
      <label>BART Actions Table</label>
      <%= link_to 'Export Template', export_csv_file_bart_settings_path(filetype: 'template', filename: 'csv'), class: 'btn btn-info btn-sm' %>
      <%- if @bart_setting && @bart_setting.action_csv_file? %>
        <%= link_to "Download existing BART CSV", export_csv_file_bart_settings_path(filetype: 'attached', id: @bart_setting.id, filename: 'csv'), class: 'btn btn-info btn-sm' %>
      <%- end %>
    </div>

      <%= f.file_field :action_csv_file%>

      <br>


    <div class="list-group-item-heading text-muted">
      <label>BART Email Template</label>
      <%= link_to 'Export Email Template', export_csv_file_bart_settings_path(filetype: 'template', filename: 'email'), class: 'btn btn-info btn-sm' %>
      <%- if @bart_setting && @bart_setting.email_template? %>
        <%= link_to "Download existing Email Template", export_csv_file_bart_settings_path(filetype: 'attached', id: @bart_setting.id, filename: 'email'), class: 'btn btn-info btn-sm' %>
      <%- end %>
    </div>
    <div class='list-group-item-text'>
      <%= f.file_field :email_template %>
      <br><br>
      <p><strong>NOTE:</strong> Make sure the <strong>insert_survey_url_here</strong> is present in the file you're uploading. This is to make sure that the survey_url will be embedded properly in the email.</p>
    </div>

<br>

    <div class="list-group-item-heading text-muted">
      <%= f.label :email_subject, 'Email Subject (default: New Survey)' %>
    </div>
    <div class="list-group-item-text">
      <%= f.text_field :email_subject, class: "form-control" %>
    </div>

</fieldset>
