<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

  <li class=<%= active.eql?(:vpn_studies) ? "active" : "" %>><%= link_to "VPN Studies", vpn_studies_path %>

  <% if active == :vpn_studies || active == :new %>
    <li class=<%= active.eql?(:new) ? "active" : "" %>><%= link_to "New", new_vpn_study_path %>
  <% end %>

  <% if active == :vpn_study || active == :edit || active == :bart_setting %>
    <li class=<%= active.eql?(:vpn_study) ? "active" : "" %>><%= link_to "VPN Study", vpn_study_path(@bart_setting.vpn_study) %></li>
    <li class=<%= active.eql?(:edit) ? "active" : "" %>><%= link_to "Edit", edit_vpn_study_path(@bart_setting.vpn_study) %></li>
    <li class=<%= active.eql?(:bart_setting) ? 'active' : ''%>><%= link_to 'BART Setting', bart_setting_path(@bart_setting) %></li>
  <% end %>

  </ul>
</div>

