<%= render 'tabs', active: :bart_setting %>


<div class="list-group">
  <div class="list-group-item">
    <h3>BART Setting</h3>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Start Activation Period
    </div>
    <div class="list-group-item-text">
      <%= @bart_setting.start_activation_period %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      End Activation Period
    </div>
    <div class="list-group-item-text">
      <%= @bart_setting.end_activation_period %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Frequency Checker (in minutes)
    </div>
    <div class="list-group-item-text">
      <%= @bart_setting.frequency_checker %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Exclusion Setting (in minutes)
    </div>
    <div class="list-group-item-text">
      <%= @bart_setting.exclusion_setting %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Exclude from all BART Searches?
    </div>
    <div class="list-group-item-text">
      <%= @bart_setting.exclude_all %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Email Template
    </div>
    <div class="list-group-item-text">
      <%- if @bart_setting && @bart_setting.email_template? %>
        <%= link_to "Download existing Email Template", export_csv_file_bart_settings_path(filetype: 'attached', id: @bart_setting.id, filename: 'email'), class: 'btn btn-primary btn-sm' %>
      <%- end %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Email Subject
    </div>
    <div class="list-group-item-text">
      <%= bart_setting_email_subject %>
    </div>
  </div>

</div>

<%= render 'bart_action' %>

