
    <table class="table">
      <thead>
        <th>Email</th>
        <th>Access Token</th>
        <th>Questback UID</th>
        <th>Last Accessed</th>
      </thead>
      <tbody>
        <% @panelists.each do |panelist| %>
          <tr>
            <td class=<% panelist.activated ? '' : 'text-muted' %>>
              <%= link_to "#{panelist.email}", panelist, :class => panelist.activated ? '' : 'text-muted' %>
            </td>
            <td><%= panelist.access_token %></td>
            <td><%= panelist.uid %></td>
            <td><%= panelist.last_accessed %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%= will_paginate @panelists %>


