<%= render "tabs", :active => :panelists %>

<br>

    <%= link_to "Export to CSV", export_panelists_path, :class => "btn btn-info" %>

<br><br>

    <%= form_tag(panelists_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Panelists", class: 'form-control', style: 'width:300px; display: inline-block' %>
    <%= submit_tag "Search", :email => nil, class: 'form-control', style: 'width:90px; display: inline-block' %>
<% end %>

<br>

<%= render 'table' %>

