<%= render "tabs", :active => :panelist %>

<h1>Panelist</h1>

<div class="list-group">



	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Email
		</div>
		<div class="list-group-item-text">
			<%= @panelist.email %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Access Token
		</div>
		<div class="list-group-item-text">
			<%= @panelist.access_token %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Avatar
		</div>
		<div class="list-group-item-text">
			<% if @panelist.avatar_file_name != nil %>
				<%= image_tag @panelist.avatar.url %>
			<% end %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Last Accessed
		</div>
		<div class="list-group-item-text">
			<%= @panelist.last_accessed %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Activated
		</div>
		<div class="list-group-item-text">
			<%= @panelist.activated %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback UID
		</div>
		<div class="list-group-item-text">
			<%= @panelist.uid %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Push Notification Credentials
		</div>

		<div class="list-group-item-text">
			<% @panelist.push_notification_credentials.each do |pnc| %>
				<%= link_to panelist_push_notification_credential_path(@panelist, pnc) do %>
					<p><strong><%= pnc.notification_service.upcase %></strong> - <%= pnc.token %></p>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Questback Groups
		</div>

		<div class="list-group-item-text">
			<ul>
				<% @panelist.questback_groups.each do |group| %>
					<li><%= link_to group.name, group %></li>
				<% end %>
			</ul>
		</div>
	</div>

</div>
