<table class="table table-condensed">
  <thead>
    <th>User Email</th>
    <th>Started Date</th>
    <th>Ended Date</th>
  </thead>
  <tbody>
    <%- @panelist_sync_logs.each do |panelist_sync_log| %>
      <tr>
        <td><%= panelist_sync_log.user %></td>
        <td><%= panelist_sync_log.started_date %></td>
        <td><%= panelist_sync_log.ended_date %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
