<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%= active.eql?(:panelist_sync_logs) ? 'active' : '' %>">
      <%= link_to "Panelist Sync Access Logs", panelist_sync_logs_path %>
    </li>
  </ul>
</div>

