<%= render "tabs", :active => :panelist_sync_logs %>
<br>

    <p <%= @sync_in_progress ? "hidden" : ""%>>This button will sync the last_accessed date of all the panelist to md_app_login</p>
    <%= link_to "Panelist Sync Last Accessed", sync_last_accessed_panelists_path, :class => "btn btn-info", style: "display:#{@sync_in_progress ? 'none' : 'inline-block'};" %>

    <br><br>

    <%- if @last_panelist_sync_log %>
    <p<%= @sync_in_progress ? "hidden" : ""%>>Last Sync : <%= @last_panelist_sync_log.started_date %> By : <%= @last_panelist_sync_log.user %></p>
    <%- end %>
    <p <%= @sync_in_progress ? "" : "hidden"%>>Syncing Panelist's Last Accessed Date...</p>
    <p><%= @sync_in_progress ? @sync_status : "" %></p>

<hr>

<%- if @panelist_sync_logs.any? %>
    <%= render partial: 'table' %>

  <%= will_paginate @panelist_sync_logs %>
<%- end %>

