/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
	padding-top: 50px;
	overflow-y: scroll;
}

.container-main-row {
  min-height: 500px;
}

.container {
  width: 1200px;
}

.side-nav {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F8F8F8;
	min-height: 2000px;
	border-left: 1px solid #E7E7E7;
}

@media (max-width: 768px) {
	.side-nav {
		top: 80px;
	}
	.side-nav-items {
		padding-bottom: 80px;
	}
  .col-equalheight{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.content {
	background-color: #fff;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
}

.footer {
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
}

.row-equalheight {
    overflow: hidden; 
}

.col-equalheight{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.page-tabs {
  padding-top: 20px;
}

.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }
.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
  .pagination a:hover, .pagination a:focus {
    color: #000033;
    border-color: #000033; }
.pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
  .pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .pagination {
  height: 1%; }
*:first-child + html .pagination {
  overflow: hidden; }

.field_with_errors label {
  color: #ff5555;
}

.field_with_errors {
  display: inline;
  @extend .has-error;
}

.navbar-brand {
  padding: 7px 35px;
  padding-left: 0px;
}

.navbar-indent {
  margin-left: 20px !important;
}

.navbar-multi-indent {
  margin-left: 40px !important;
}

#map {
  height: 600px;
  width: 100%;
}

.original-path-logo {
  padding: 13px 135px 0 0;
  font-weight: bold;
}

/* other */

body {
    overflow-x: hidden;
}

.container {
   position: absolute;
   width: 100%;
}

.col-sm-4 {
    font-size: 15.5px;
}

.dashboard {
    background-color: #337AB7;
    margin: 5px;
    height: 200px;
    font-size: 15.5px;
}

.figures {
    position: absolute;
    left: 50% !important;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

h4 {
    font-weight: bold;
    display: inline-block;
}

h3 {
  font-size: 22px;
}

h1 {
    font-size: 30px;
}

 #inputs {
    background-color: transparent;
 }

 #dashboard-column-3 {
    background-color: #337AB7;
    height: 200px;
    font-size: 13px;
 }

 #dashboard-column-6 {
    background-color: #337AB7;
    margin: 5px;
    height:250px;
    font-size: 15.5px;
 }

.sidebar-nav {
  padding-left: 0;
}

.side-nav {
  padding-right: 0;
}

.panel {
  background-color: #f8f8f8;
}

#collapsing-link {
  margin-left: 3px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom: 5px solid #337AB7;
}

.nav-tabs > li > a:hover {
    border: none;
    border-bottom: 5px solid #337AB7;
    background: transparent;
}

.nav-pills li a {
  border-radius: 0;
  padding: 13px;
}

.actions {
  min-width: 180px;
}

.drop-down {
  width: 100%;
}

.btn {
  display: inline-block;
  position: relative;
}

.filter-tab li.active a {
  border-bottom: 2px solid #337AB7;
}

.filter-tab li a:hover {
  border-bottom: 2px solid #337AB7;
}

.filter-tab li.active a:focus {
  border-bottom: 2px solid #337AB7;
}

.filter-tab li.active a:hover {
  border-bottom: 2px solid #337AB7;
}

/* media queries */

@media (max-width: 1024px) {

  .col-sm-2 {
    width: 100% !important;
  }

  .side-nav {
    min-height: 600px;
  }

  .col-sm-10 {
    width: 100%;
  }

  .navbar {
    width: 100%;
    position: absolute;
  }

  .original-path-logo {
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {

  .navbar-brand {
    margin-top: -30px;
  }

  .col-sm-2 {
    margin-top: -79px;
  }
  }

@media (max-width: 414px) {
   .navbar-brand {
    margin-top: -2px;
   }
}




