.chart-legend {
  height: 250px;
}

.chart-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.chart-legend ul {
  list-style-type: none;
}

.surveys-table {
  width: 100%;
  overflow: scroll;
}
