// Place all the styles related to the QuickPollResponses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}
