// Place all the styles related to the usage_study_access_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
}
.fixed {
  table-layout:fixed;
}
.fixed td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-wrap {
  overflow:hidden;
  word-wrap: break-word !important;
}

.nowrap {
  white-space: nowrap;
}

.url-p{
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.open-td{
  width: 25%;
  padding-right: 20px;
}
