.vpn_study_panelist tbody tr {
  opacity: 0.60;
  filter: alpha(opacity=60);
}

tbody tr:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.connected {
  background-color: #ff7f00;
}

.disconnected {
  background-color: #ff1500;
}
