<%= form_for @survey_category do |form| %>

	<%= render "layouts/crud_error", :errorable => @survey_category %>

	<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :name %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :name, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :description %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_area :description, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :color %>
				<p>Should be in hex format, e.g. #FF0000</p>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :color, :class => "form-control" %>
			</div>

			<br>

			<%= form.submit :class => "btn btn-default" %>
<% end %>
