<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

		<% if active == :survey_categories %><li class="active"><% else %><li><% end %>
			<%= link_to "Categories", survey_categories_path %>
		</li>

		<% if active == :survey_categories || active == :new %>
			<% if active == :new %><li class="active"><% else %><li><% end %>
				<%= link_to "New", new_survey_category_path %>
			</li>
		<% end %>

		<% if active == :survey_category || active == :edit %>
			<% if active == :survey_category %><li class="active"><% else %><li><% end %>
				<%= link_to "Category", survey_category_path %>
			</li>
			<% if active == :edit %><li class="active"><% else %><li><% end %>
				<%= link_to "Edit", edit_survey_category_path %>
			</li>
		<% end %>

	</ul>
</div>