<%= render "tabs", :active => :survey_categories %>

<br>

<div class="list-group">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Colour</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @survey_categories.each do |survey_category| %>
				<tr>
					<td><%= link_to survey_category.name, survey_category %></td>
					<td><%= survey_category.description %></td>
					<td><div style="width:100px; height:20px; background-color:<%= survey_category.color %>">&nbsp;</div></td>
					<td>
						<%= link_to "Edit", edit_survey_category_path(survey_category), :class => "btn btn-info" %>
						<%= link_to "Delete", survey_category, :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure you want to delete #{survey_category.name}"} %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

