<%= render "tabs", :active => :survey_category %>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Name
		</div>
		<div class="list-group-item-text">
			<%= @survey_category.name %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Description
		</div>
		<div class="list-group-item-text">
			<%= @survey_category.description %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Colour
		</div>
		<div class="list-group-item-text">
			<%= @survey_category.color %>
			<div style="width:100px; height:20px; background-color:<%= @survey_category.color %>">&nbsp;</div>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Surveys
		</div>
		<div class="list-group-item-text">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Duration</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @survey_category.surveys.each do |survey| %>
						<tr>
							<td><%= link_to survey.title, survey %></td>
							<td><%= survey.duration %></td>
							<td>
								<%= link_to "Edit", edit_survey_path(survey), :class => "btn btn-info" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>


</div>
