<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <% if active == :quick_polls %><li class="active"><% else %><li><% end %>
      <%= link_to "Quick Polls", quick_polls_path %>
    </li>

    <% if active == :quick_poll_stats %><li class="active"><% else %><li><% end %>
      <%= link_to "Statistics", quick_poll_stats_path %>
    </li>

    <% if active == :quick_polls || active == :new %>
      <% if active == :new %><li class="active"><% else %><li><% end %>
        <%= link_to "New", new_quick_poll_path %>
      </li>
    <% end %>

    <% if active == :quick_poll || active == :edit %>
      <% if active == :quick_poll %><li class="active"><% else %><li><% end %>
        <%= link_to "Quick Poll", quick_poll_path %>
      </li>
      <% if active == :edit %><li class="active"><% else %><li><% end %>
        <%= link_to "Edit", edit_quick_poll_path %>
      </li>
    <% end %>

  </ul>
</div>
