<%= render "tabs", active: :quick_poll_stats %>

<br>

    <p>The stat maybe slighty different from the actual. You can click this button to fetch the latest data for the stat.</p>
    <%= link_to "Update Quick Poll Stat", update_stats_quick_poll_stats_path, class: "btn btn-info", style: "display: #{@update_progress ? 'none' : 'inline-block'}" %>
    <p id="reloading-text" <%= @update_progress ? "" : "hidden"%>>Updating Quick Poll Stats...</p>

<div class="list-group" id="quickPollStats">
  <%= render partial: "quick_polls/stats" %>
</div>
