<div class="page-tabs">
  <ul class="nav nav-tabs" role="tablist">

    <li class="<%=  active.eql?(:logs) ? 'active' : '' %>">
      <%= link_to "Logs", logs_path %>
    </li>

  </ul>
</div>

