<br>

<%= form_for @quick_poll do |f| %>

<%= render "layouts/crud_error", :errorable => @quick_poll %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :duration %>
        <%= f.text_field :duration, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :bonus_points, 'Bonus Points (e.g. 10 points)' %>
        <%= f.text_field :bonus_points, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :tickets, 'Tickets (e.g. 1 ticket)' %>
        <%= f.text_field :tickets, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :quick_poll_type %><br/>
        <%= f.select :quick_poll_type, QuickPoll.quick_poll_types.map{ |t| [t[0], t[0]] }, class: "form-control drop-down" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :questback_group %><br/>
        <%= render  partial: 'layouts/autocomplete_field.html.erb',
                    locals: { field_value: @quick_poll.questback_group,
                              autocomplete_url: autocomplete_questback_group_name_questback_groups_path } %>
        <%= f.text_field :questback_group_id, class: "form-control", id: 'autocomplete_select' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :start_time %><br/>
        <%= f.datetime_select :start_time, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :end_time %><br/>
        <%= f.datetime_select :end_time, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.check_box :active %>
        <%= f.label :active %>
      </div>
    </div>
  </div>

  <%= f.fields_for :quick_poll_questions do |question| %>
    <%= render "quick_poll_question_fields", f: question %>
  <%end%>

  <div class="row">
    <div class="col-md-12">
    <%= link_to_add_fields "+ Add new question", f, :quick_poll_questions %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>

  <br/>
  <p>
    <strong>NOTE:</strong>
    You can't send a quick poll without quick_poll_questions.
  </p>

<% end %>
