<div class="col-sm-6">
  <h4><%= question.question %></h4>
  <%= content_tag(:canvas, "", class: "pie-canvas", data: { breakdown: percentage_breakdown_for_questions(question) }) %>
</div>

<div class="col-sm-6 chart-legend">
</div>
