<fieldset>
	<div class="row">
		<div class="col-md-7">
			<div class="form-group">
			<%= f.text_field :answer, :placeholder => 'Answer', :class => "form-control" %>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
			<%= f.select :answer_type, QuickPollChoice.answer_types.keys, {include_blank: false}, {:class => "form-control"} %>
			</div>
		</div>
		<div class="col-md-2">
				<%= f.check_box :anchored %>
				<%= f.label "Anchored" %>
		</div>
		<div class="col-md-1">
			<%= f.hidden_field :_destroy %>
			<%= link_to "remove", "#", class: 'remove_fields' %>
		</div>
	</div>
</fieldset>
