<fieldset>
<hr>
	<div class="row">	 
		<div class="col-md-7">
			<div class="form-group">
			<%= f.label :question %>
			<%= f.text_field :question, :class => "form-control" %>
			</div>
		</div>

		<div class="col-md-2">
			<div class="form-group">
			<%= f.label :question_type, "Type" %><br/>
	  		<%= f.select :question_type, options_for_select(QuickPollQuestion.question_types, f.object.question_type), {include_blank: true}, {:class => "form-control"} %>
			</div>
		</div>

		<div class="col-md-2">
			<div class="form-group">
				<br/>
				<%= f.check_box :randomize_order %>
				<%= f.label "Randomize" %>
			</div>
		</div>

		<div class="col-md-1">	
			<br/>
			<strong>
				<%= f.hidden_field :_destroy %>
				<%= link_to "remove", "#", class: 'remove_fields' %>
			</strong>
		</div>
	</div>
<%= f.fields_for :quick_poll_choices do |quick_poll_choice| %>
	<%= render "quick_poll_choice_fields", f: quick_poll_choice %>
<%end%>
<div class="row">
	<div class="col-md-12">
		<strong><%= link_to_add_fields "Add answer", f, :quick_poll_choices %></strong>
	</div>
</div>

</fieldset>
