
<hr> 

<div class="col-sm-6">
  <table class="table table-bordered">
    <thead>
      <th>#</th>
      <th>Title</th>
      <th># of Panelists</th>
    </thead>
    <tbody>
      <% @quick_polls.each_with_index do |quick_poll, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= quick_poll.to_s %></td>
          <td><%= "#{quick_poll.stat_for_completed_panelists_count} / #{quick_poll.stat_for_questback_group_panelists_count}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-sm-6">
  <table class="table table-bordered">
    <thead>
      <th>Total number of Quick Polls responded to</th>
    </thead>
    <tbody>
      <tr>
        <td><%= total_responded_quick_polls %></td>
      <tr>
    </tbody>
  </table>
</div>

<!-- <div class="col-sm-12">
  <h4># of Panelist Completed per Quick Poll</h4>
  <%#= content_tag(:canvas, "", id: "quick_poll_canvas", data: { title: quick_poll_titles, completed_quick_polls: completed_quick_polls }) %>
</div> -->
