<br>

<div class="list-group">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @quick_polls.each do |quick_poll| %>
      <tr>
        <td><%= link_to quick_poll.try(:title), quick_poll %></td>
        <td><%= quick_poll.try(:description) %></td>
        <td><%= quick_poll.quick_poll_type %></td>
        <td>
          <p><%= link_to "Edit", edit_quick_poll_path(quick_poll), :class => "btn btn-primary btn-sm actions" %><p>
          <p><%= link_to 'Export Responses', export_quick_poll_responses_path(quick_poll_id: quick_poll.id), class: 'btn btn-info btn-sm actions' %></p>
          <p>
            <% unless quick_poll.quick_poll_questions.count == 0 %>
              <%= link_to "Send Push Notification", send_notifications_quick_poll_path(quick_poll), :class => "btn btn-success btn-sm actions", :data => {:confirm => "Are you sure?"} %>
            <% end %>
          </p>
        </td>
    <%end%>
    </tbody>
  </table>
</div>
