<%= render "tabs", :active => :quick_polls %>

<br>

    <%= form_tag(quick_polls_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Quick Polls", class: 'form-control', style: 'width:300px; display: inline-block' %>
    <%= submit_tag "Search", :email => nil, class: 'form-control', style: 'width:90px; display: inline-block' %>
<% end %>


<div class="list-group" id="quickPollTable">
  <%- if @quick_polls.any? %>
    <%= render partial: 'table' %>
  <%- else %>
    No Quick Poll found.
  <%- end %>
</div>

<%= will_paginate @quick_polls %>

<%#= javascript_include_tag "charts/bar_chart" %>
