<%= render "tabs", :active => :quick_poll %>

<br/>
<div class="col-sm-12">
  <table class='table table-bordered'>
    <thead>
      <th>Completed Panelists</th>
    </thead>
    <tbody>
      <tr><td><%= @quick_poll.completed_panelists_count %></td></tr>
    </tbody>
  </table>
</div>

<% unless @quick_poll.completed_panelists_count == 0 %>
  <% @quick_poll.questions.each do |question| %>
    <%= render partial: "pie_chart", locals: { question: question } %>
  <% end %>
<% end %>

<div class="list-group col-sm-12">

  <h3><%= @quick_poll.title %></h3>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Description
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.description %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      QuickPoll Type
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.quick_poll_type %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Questback Group
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.questback_group.to_s %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Duration
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.duration %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Bonus Points
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.bonus_points %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Tickets
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.tickets %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      Start Time
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.start_time %>
    </div>
  </div>

  <div class="list-group-item">
    <div class="list-group-item-heading text-muted">
      End Time
    </div>
    <div class="list-group-item-text">
      <%= @quick_poll.end_time %>
    </div>
  </div>

  <div class="list-group-item">
    <% @quick_poll.questions.each_with_index do |question, index| %>
      <h4 class="list-group-item-heading">
        <%= "Question #{index + 1}: #{question.question} (#{question.question_type})" %>
      </h4>
      <p>Answer Ordering: <%= question.randomize_order ? 'Randomized' : 'Normal' %></p>
      <ul>
      <% question.quick_poll_choices.each do |quick_poll_choice| %>
        <li> <%= quick_poll_choice.answer %> </li>
      <%end%>
      </ul>
    <%end%>
  </div>

</div>

<%= javascript_include_tag "charts/pie_chart" %>

