<%= form_for @profile_survey do |form| %>

<br>

	<%= render "layouts/crud_error", :errorable => @profile_survey %>

			<div class="list-group-item-heading text-muted">
				<%= form.label :name %>
			</div>
			<div class="list-group-item-text">
				<%= form.text_field :name, :class => "form-control" %>
			</div>

			<br>

			<div class="list-group-item-heading text-muted">
				<%= form.label :survey %>
			</div>
			<div class="list-group-item-text">
				<%= form.select :survey_id, survey_with_duration_collection %>
			</div>

			<br>

			<%= form.submit :class => "btn btn-default" %>


<% end %>
