<div class="page-tabs">
	<ul class="nav nav-tabs" role="tablist">

		<% if active == :profile_surveys %><li class="active"><% else %><li><% end %>
			<%= link_to "Profile Surveys", profile_surveys_path %>
		</li>

		<% if active == :profile_survey || active == :edit %>
			<% if active == :profile_survey %><li class="active"><% else %><li><% end %>
				<%= link_to "Profile Survey", profile_survey_path %>
			</li>
			<% if active == :edit %><li class="active"><% else %><li><% end %>
				<%= link_to "Edit", edit_profile_survey_path %>
			</li>
		<% end %>

		<% if active == :profile_surveys || active == :new %>
			<% if active == :new %><li class="active"><% else %><li><% end %>
				<%= link_to "New", new_profile_survey_path %>
			</li>
		<% end %>

	</ul>
</div>