<%= render "tabs", :active => :profile_surveys %>

<br>

<div class="list-group">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
        <th>SurveyName</th>
        <th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @profile_surveys.each do |profile_survey| %>
				<tr>
					<td><%= link_to profile_survey.name, profile_survey %></td>
					<td><%= profile_survey.survey.title %></td>
          <td><%= link_to "Delete", profile_survey, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{profile_survey.name} ?" } %></td>
        </tr>
			<% end %>
		</tbody>
	</table>
</div>

