<%= render "tabs", :active => :profile_survey %>

<div class="list-group">

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Name
		</div>
		<div class="list-group-item-text">
			<%= @profile_survey.name %>
		</div>
	</div>

	<div class="list-group-item">
		<div class="list-group-item-heading text-muted">
			Related Survey
		</div>
		<div class="list-group-item-text">
			<%= @profile_survey.survey.title %>
		</div>
	</div>


</div>
