<% if errorable.errors.any? %>
<div class="alert alert-danger">
	<h2><%= pluralize(errorable.errors.count, "error") %> prevented this Record from being written</h2>
	<ul>
	<% errorable.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>
</div>
<% end %>
