<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header col-sm-5">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars"></i>
      </button>
      <p class="original-path-logo pull-right"><%= environment_name %></p>
			<%= link_to statistics_path, {:class => "navbar-brand"} do %>
				<%= image_tag "logo_main.png" %>
			<% end %>
		</div>
		<div class="navbar-collapse collapse col-sm-8 pull-right">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= current_user.email %> <i class="fa fa-fw fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><%#= link_to 'Profile', user_profile_path %></li>
						<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</div>

