<ul class="nav nav-pills nav-stacked side-nav-items">

  <%= navbar_item(indented: false, text: 'Dashboard', fa_icon: 'fa fa-home', link: statistics_path, controller_name: 'statistics') %>

  <%= navbar_item(indented: false, text: 'Panelists ', fa_icon: 'fa-user', link: panelists_path, controller_name: 'panelists') %>

    <% if ["panelists", "panelist_stats"].include?(controller.controller_name) %>
   <%= navbar_item(link: panelist_stats_path, fa_icon: '', text: 'Panelist Statistics', controller_name: 'panelist_stats', indented: false) %>
  <% end %>

  <%= navbar_item(link: surveys_path, fa_icon: 'fa-file-text-o', text: 'Surveys', controller_name: 'surveys', indented: false) %>

  <% if ["surveys", "survey_categories", "profile_surveys"].include?(controller.controller_name) %>
    <%= navbar_item(link: survey_categories_path, fa_icon: '', text: 'Categories', controller_name: 'survey_categories', indented: false) %>
    <%= navbar_item(link: profile_surveys_path, fa_icon: '', text: 'Profile Surveys', controller_name: 'profile_surveys', indented: false) %>
  <% end %>

  <%= navbar_item(indented: false, text: 'Quick Polls', fa_icon: 'fa-check-square', link: quick_polls_path, controller_name: 'quick_polls') %>
  <%- if ['quick_polls', 'quick_poll_stats'].include?(controller.controller_name) %>
    <%= navbar_item(link: quick_poll_stats_path, fa_icon: '', text: 'Quick Poll Statistics', controller_name: 'quick_poll_stats', indented: false) %>
  <%- end %>

  <%= navbar_item(link: vpn_studies_path, fa_icon: 'fa-server', text: 'VPN Studies', controller_name: 'vpn_studies', indented: false) %>
  <% if vpn_studies_links_collection.include?(controller.controller_name) %>
    <%= navbar_item(link: vpn_study_credentials_path, fa_icon: '', text: 'VPN Study Credentials', controller_name: 'vpn_study_credentials', indented: false) %>
    <%= navbar_item(link: usage_study_users_path, fa_icon: '', text: 'Usage Study Users', controller_name: 'usage_study_users', indented: false) %>
    <%= navbar_item(link: vpn_managements_path, fa_icon: '', text: 'VPN Managements', controller_name: 'vpn_managements', indented: false) %>
    <%- if vpn_managements_links_collection.include?(controller.controller_name) %>
      <%= navbar_item(link: new_vpn_page_monitoring_path, fa_icon: '', text: 'New VPN Monitoring', controller_name: 'vpn_page_monitorings', indented: true) %>
      <%= navbar_item(link: router_managements_path, fa_icon: '', text: 'Routing (Local)', controller_name: 'router_managements', indented: true) %>
      <%= navbar_item(link: vpn_routes_path, fa_icon: '', text: 'Routing (VPN)', controller_name: 'vpn_routes', indented: true) %>
      <%= navbar_item(link: ssl_decryption_hosts_path, fa_icon: '', text: 'SSLDecryption (Local)', controller_name: 'ssl_decryption_hosts', indented: true) %>
      <%= navbar_item(link: decrypt_hosts_path, fa_icon: '', text: 'SSLDecryption (VPN)', controller_name: 'decrypt_hosts', indented: true) %>
      <%= navbar_item(link: vpn_bandwidth_usages_path, fa_icon: '', text: 'BandwidthUsage', controller_name: 'vpn_bandwidth_usages', indented: true) %>
    <%- end %>
  <% end %>

  <%= navbar_item(link: info_geofences_path, fa_icon: 'fa-map-marker', text: 'Geofences', controller_name: 'geofences', indented: false) %>
  <%- if geofences_links_collection.include?(controller.controller_name) %>
    <%= navbar_item(link: geofence_collections_path, fa_icon: '', text: 'Geofence Collections', controller_name: 'geofence_collections', indented: false) %>
    <%= navbar_item(link: geofence_groups_path, fa_icon: '', text: 'Geofence Groups', controller_name: 'geofence_groups', indented: false) %>
    <%= navbar_item(link: new_geofence_upload_path, fa_icon: '', text: 'New Geofence Data', controller_name: 'geofence_uploads', indented: false) %>
  <%- end %>

  <%= navbar_item(link: logs_path, fa_icon: 'fa-tasks', text: 'Logs', controller_name: 'logs', indented: false) %>

  <%- if logs_links_collection.include?(controller.controller_name) %>
    <%= navbar_item(link: geofence_logs_path, fa_icon: '', text: 'Geofence Logs', controller_name: 'geofence_logs', indented: false) %>
    <%= navbar_item(link: push_notification_logs_path, fa_icon: '', text: 'Push Notification Logs', controller_name: 'push_notification_logs', indented: false) %>
    <%= navbar_item(link: usage_study_access_logs_path, fa_icon: '', text: 'Usage Study Access Logs', controller_name: 'usage_study_access_logs', indented: false) %>
    <%= navbar_item(link: panelist_sync_logs_path, fa_icon: '', text: 'Panelist Sync Logs', controller_name: 'panelist_sync_logs', indented: false) %>
    <%= navbar_item(link: vpn_page_monitoring_results_path, fa_icon: '', text: 'Vpn Page Monitoring Results', controller_name: 'vpn_page_monitoring_results', indented: false) %>
    <%= navbar_item(link: bart_audit_logs_path, fa_icon: '', text: 'Bart Audit Logs', controller_name: 'bart_audit_logs', indented: false) %>
    <%= navbar_item(link: quick_poll_responses_path, fa_icon: '', text: 'QP Responses', controller_name: 'quick_poll_responses', indented: false) %>
    <%= navbar_item(link: device_metadata_path, fa_icon: '', text: 'Device Metadata', controller_name: 'device_metadata', indented: false) %>
    <%= navbar_item(link: log_exports_path, fa_icon: '', text: 'Log Exports', controller_name: 'log_exports', indented: false) %>
    <%- if log_exports_links_collection.include?(controller.controller_name) %>
      <%= navbar_item(link: geofence_log_exports_path, fa_icon: '', text: 'Geofence Log Exports', controller_name: 'geofence_log_exports', indented: true) %>
    <%- end %>
    <%#= navbar_item(link: "javascript:alert('Coming Soon!')", fa_icon: 'fa-bullseye', text: 'iBeacons', controller_name: '', indented: false ) %>
  <% end %>

  <li><hr/></li>

  <%= navbar_item(link: admin_index_path, fa_icon: 'fa-cogs', text: 'Admin', controller_name: 'admin', indented: false) %>

  <% if admin_links_collection.include?(controller.controller_name) %>
    <%= navbar_item(link: questback_groups_path, fa_icon: '', text: 'QBGroups', controller_name: 'questback_groups', indented: false) %>
    <%= navbar_item(link: samples_path, fa_icon: '', text: 'Samples', controller_name: 'samples', indented: false) %>
    <%= navbar_item(link: faqs_path, fa_icon: '', text: 'FAQs', controller_name: 'faqs', indented: false) %>

    <li class="navbar-indent"><hr/></li>

    <%= navbar_item(link: profile_variables_path, fa_icon: '', text: 'ProfileVariables', controller_name: 'profile_variables', indented: false) %>
    <%= navbar_item(link: master_data_descriptions_path, fa_icon: '', text: 'MasterData', controller_name: 'master_data_descriptions', indented: false) %>

    <li class="navbar-indent"><hr/></li>

    <%= navbar_item(link: users_path, fa_icon: '', text: 'AdminUsers', controller_name: 'users', indented: false) %>
    <%= navbar_item(link: settings_path, fa_icon: '', text: 'Settings', controller_name: 'settings', indented: false) %>
  <% end %>

</ul>