<%= form_tag search_url_path, method: :get do %>
  <div class="row">
    <div class="col-md-6">
      <%- select_value = params[:search].blank? ? nil : params[:search][search_select_value.to_sym] %>
      <%= select_tag "search[panelist_id]", options_for_select(search_select_collection, select_value), prompt: 'Email', class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= submit_tag 'Search', name: nil, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>

