<div class="list-group-item-heading text-muted">
  <label>Search <%= search_label %></label>
</div>
<div class="list-group-item-text">
  <%= form_tag search_url_path, method: :get, remote: true do %>
    <div class="row">
      <div class="col-md-6">
        <%= render  partial: 'layouts/autocomplete_field.html.erb',
                    locals: { field_value: '',
                              autocomplete_url: search_autocomplete_url } %>
        <%= hidden_field_tag "search[#{search_key}]", '', id: 'autocomplete_select' %>
      </div>
      <div class="col-md-6">
        <%= submit_tag 'Search', name: nil, class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>
</div>

