<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SurveyBods">
	<meta name="author" content="">
	<title>SurveyBodsAPI</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
</head>
<body>

	<% if user_signed_in? %>
		<%= render "layouts/header" %>
	<% end %>

		<% if user_signed_in? %>
			<div class="col-sm-2 side-nav list-group">
				<%= render "layouts/navbar" %>
			</div>
			<div class="col-sm-10 content">
		<% else %>
			<div class="col-sm-12 content">
		<% end %>

		<% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
		<% if alert %><p class="alert alert-warning"><%= alert %></p><% end %>

		<%= yield %>
		<!--
		<div class="row">
			<div class="col-sm-12 footer">
				<%#= render "layouts/footer" %>
			</div>
		</div>
	-->
	</div>
</body>
</html>

